%h1 Listing user_alow_votes

%table
  %thead
    %tr
      %th User
      %th Vote
      %th
      %th
      %th

  %tbody
    - @user_alow_votes.each do |user_alow_vote|
      %tr
        %td= user_alow_vote.user
        %td= user_alow_vote.vote
        %td= link_to 'Show', user_alow_vote
        %td= link_to 'Edit', edit_user_alow_vote_path(user_alow_vote)
        %td= link_to 'Destroy', user_alow_vote, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User alow vote', new_user_alow_vote_path
