.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Envío Manual Planillas de Descuento
      .panel-body
        .row
          .col-xs-12
            %h1
              Lugares de trabajo
              %span.badge= @workplaces.count
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_regional, 'Regional'
              - if current_user.role?(:national_admin) 
                = select_tag :filter_regional, options_for_select(Office.options_for_select(current_user), @regional), prompt: 'Todos', class: "form-control"
              - else
                = select_tag :filter_regional, options_for_select(Office.options_for_select(current_user), @regional), class: "form-control"
              %br
              %br  
              = label_tag :filter_publico, 'Con sistema descuento publico'
              = select_tag :filter_publico, options_for_select(['SI', 'NO'], @publico), prompt: 'Todos', class: "form-control"  

        %br
        %br
        .digg_pagination
          = will_paginate @workplaces, previous_label: h("<  "), next_label: h("  >")
        %br      
        %br
        %table.table.table-striped
          %thead
            %tr
              %th Nombre
              %th Regional
              %th 
              %th
              %th
          %tbody
            - @workplaces.each do |workplace|
              %tr
                - if workplace.people.count > 0
                  %td= workplace.nombre
                  - if workplace.office.present?
                    %td= workplace.office.nombre
                  - else
                    %td
                  %td= link_to "Correos: #{workplace.wpemails.count}", wpemails_path(workplace_id: workplace.id),class: 'btn btn-info'

                  %td= link_to "#{workplace.people_for_ss.count}",people_senddiscount_path(id: workplace,page:@page), class: 'btn btn-warning'
                  %td= link_to 'Enviar Planilla Descuento',sendemail_senddiscount_path(workplace.id), class: 'btn btn-info'
 

 
