.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Envío Manual Planillas de Descuento
      .panel-body
        %h3= "Estimados Señores: #{@workplace.nombre}"
        %h3= "Adjunto nomina de descuentos"

        %td= link_to "<-- Volver",senddiscount_index_path(page:@page), class: 'btn btn-warning'

        %table.table.table-striped
          %thead
            %tr
              %th Nro.Registro
              %th Lugar de Trabajo
              %th Nombre
              %th Rut
          %tbody
            - @workplace.people_for_ss.each do |person|
              %tr
                %td= person.nro_registro
                %td= person.workplace.nombre
                %td= person.fullname  
                %td= person.rut
