.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title DATOS BASICOS
    .panel-body
      .row
        .col-md-2
          %a.thumbnail{:href => "/people/picture/#{@person.id}", data: { modal: true } }
            - if @person.picture.present?
              %img.img-circle{:alt => "...", :src =>"#{@person.picture_url}"}
            - else  
              %img.img-circle{:alt => "...", :src => "http://placehold.it/150x150"}

        .col-md-10
          = link_to 'Editar Datos Básicos', "/people/#{@person.id}/edit", data: { modal: true }, class: 'btn btn-info'  
        .col-md-10      
        .col-sm-2.col-xs-6.border-right
          %h5.description-header  
            = @person.fullname
        / /.col
        .col-sm-2.col-xs-6.border-right
          %h5.description-header 
            = @person.nationality
        / /.col
        .col-sm-2.col-xs-6.border-right
          %h5.description-header 
            = @person.economic_activity
        / /.col
        .col-sm-2.col-xs-6.border-right
          %h5.description-header 
            = @person.profession
        / /.col
        .col-sm-2.col-xs-6
          %h5.description-header 
            = @person.university
        / /.col
        %hr
          .col-sm-2.col-xs-6.border-right
            %h5.description-header 
              = @person.rut
          / /.col
          .col-sm-2.col-xs-6.border-right
            %h5.description-header 
              = @person.marital_status
          / /.col
          .col-sm-2.col-xs-6.border-right
            %h5.description-header 
              - if @person.matrimonial_regime.present?
                = @person.matrimonial_regime.gsub('_', ' ')
          / /.col
          .col-sm-2.col-xs-6.border-right
            %h5.description-header 
              - if @person.number_of_children.present?
                = "#{@person.number_of_children} hijos"
          / /.col
          .col-sm-2.col-xs-6
            %h5.description-header 
              = @person.email
          / /.col

   

.col-md-12
  .panel.panel-default
    .panel-heading
      %h3.panel-title ESTADO SITUACION
    .panel-body
      .col-xs-12
        .row

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong DATOS CÓNYUGE
                |
                %a{:href => "/spouses/#{@person.spouse.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos
                    
          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Situación Laboral
                |
                %a{:href => "/dependents/#{@person.dependent.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Ingresos
                |
                %a{:href => "/ingresos/#{@person.ingreso.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Sociedades
                |
                %a{:href => "/sociedads"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Direcciones
                |
                %a{:href => "/direccions"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Bienes Raíces
                |
                %a{:href => "/bienes_raices"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Vehículos
                |
                %a{:href => "/vehiculos"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos
 
          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Deuda Directa
                |
                %a{:href => "/deuda_directa/#{@person.deuda_directum.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos 

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong Deuda Indirecta
                |
                %a{:href => "/deuda_indirecta/#{@person.deuda_indirectum.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos 

    .panel-footer
      = link_to 'Ver Resúmen', "/summary/index", class: "btn btn-warning"
      = link_to 'Agregar Documentos', "/documents", class: "btn btn-info"

/ /container






/ .container{:role => "main"}
/   .jumbotron
/     %h3 Datos Básicos
/     %hr
/       .col-lg-3
/         %a.thumbnail{:href => "#"}
/           %img{:alt => "...", :src => "http://placehold.it/140x140"}
/       .row
/         .col-lg-8
/           %table.table.table-striped
/             %thead
/               %tr
/             %tbody
/               %tr
/                 %td= @person.email
/           %table.table.table-striped
/             %thead
/               %tr
/             %tbody
/               %tr
/                 %td= @person.fullname
/                 %td= @person.nationality
/                 %td= @person.economic_activity
/                 %td= @person.profession
/                 %td= @person.university
/           %table.table.table-striped
/             %thead
/               %tr
/             %tbody
/               %tr
/                 %td= @person.rut
/                 %td= @person.marital_status
/                 %td= @person.matrimonial_regime
/                 - if @person.number_of_children.present?
/                   %td= "#{@person.number_of_children} hijos"
/       .row          
/         .col-lg-3
/           = link_to 'Editar', "/people/#{@person.id}/edit", data: { modal: true } , class: "btn btn-primary"            
/   .col-lg-12
/     .panel.panel-default
/       .panel-heading Estado Situación
/       .panel-body
/         .col-lg-8
/           %table.table
/             %tbody
/               %tr
/                 %td
/                   = link_to 'Datos Cónyuge', "/spouses/new", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Situación Laboral', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Ingresos', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Sociedades', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Direcciones', "", data: { modal: true } , class: "btn btn-primary"
/               %tr
/                 %td
/                   = link_to 'Bienes Raíces', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Vehículos', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Sociedades', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Deuda Indirecta', "", data: { modal: true } , class: "btn btn-primary"
/                 %td
/                   = link_to 'Deuda Directa', "", data: { modal: true } , class: "btn btn-primary"
/       .panel-footer
/         = link_to 'Ver Resúmen', "", data: { modal: true } , class: "btn btn-primary"
/         = link_to 'Agregar Documentos', "/documents/new", data: { modal: true } , class: "btn btn-primary"


