.container{:role => "main"}
  .col-md-12

    .panel.panel-default
      .panel-heading
        %h3.panel-title DATOS BASICOS
      .panel-body
        .row
          .col-md-2
            %a.thumbnail{:href => "/people/picture/#{@person.id}", data: { modal: true }}
              - if @person.picture.present?
                %img.img-circle{:alt => "...", :src =>"#{@person.picture_url}"}
              - else  
                %img.img-circle{:alt => "...", :src => "http://placehold.it/150x150"}
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.fullname
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.nationality
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.profession
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.economic_activity
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.university
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.rut
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.marital_status
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header     
              - if @person.matrimonial_regime.present?
                = @person.matrimonial_regime.gsub('_', ' ')
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              - if @person.number_of_children.present?
                = "#{@person.number_of_children} hijos"
          .col-sm-3.col-xs-12.borders.alto
            %h5.description-header 
              = @person.email
          .col-sm-12.col-xs-12.editar.text-center
            %hr
              = link_to 'Editar Datos Básicos', "/people/#{@person.id}/edit", data: { modal: true }, class: 'btn btn-info'
              - if @person.terms.present?
                = link_to 'Has aceptado nuestros Téminos y Condiciones',  "/people/termstopdf/#{@person.id}", class: 'btn btn-info' 
              - else
                = link_to 'Aceptar Téminos y Condiciones', "/people/terms/#{@person.id}", data: { modal: true }, class: 'btn btn-warning'  
.col-md-12
  .panel.panel-default
    .panel-heading
      %h3.panel-title ESTADO SITUACION
    .panel-body
      .col-xs-12
        .row

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong DATOS CÓNYUGE
                |
                %a{:href => "/spouses/#{@person.spouse.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos
                    
          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong SITUACIÓN LABORAL
                |
                %a{:href => "/dependents/#{@person.dependent.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong INGRESOS
                |
                %a{:href => "/ingresos/#{@person.ingreso.id}/edit", data: { modal: true }}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong SOCIEDADES
                |
                %a{:href => "/sociedads"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong DIRECCIONES
                |
                %a{:href => "/direccions"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong BIENES RAÍCES
                |
                %a{:href => "/bienes_raices"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong VEHÍCULOS
                |
                %a{:href => "/vehiculos"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos
 
          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong DEUDA DIRECTA
                |
                %a{:href => "/deuda_directa"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos 

          .col-xs-12.col-lg-4
            .alert.alert-info{:role => "alert"}
              %p
                %strong DEUDA INDIRECTA
                |
                %a{:href => "/deuda_indirecta"}
                  %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
                  Editar Datos 

    .panel-footer
      = link_to 'Ver Resúmen', "/summary/index", class: "btn btn-warning"
      = link_to 'Agregar Documentos', "/documents", class: "btn btn-info"



