%p#notice= notice

%p
  %b Nombre:
  = @wpdocument.nombre
%p
  %b Tipo:
  = @wpdocument.tipo
%p
  %b Documento:
  = @wpdocument.documento
%p
  %b Workplace:
  = @wpdocument.workplace

= link_to 'Edit', edit_wpdocument_path(@wpdocument)
\|
= link_to 'Back', wpdocuments_path
