%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Directorios Regionales
      .panel-body
        .container-fluid
          %h1= "Directorio #{@regional_council.office.nombre}"
          %p#notice= notice
          %br
          %hr   
          .row
            .col-md-12
              = raw(@regional_council.web)    
          %br
          %br
          %br
          - if current_user.present?  
            = link_to '<< Atras', regional_councils_path
          - else
            = link_to '<< Atras', '/'






/ %p#notice= notice

/ %p
/   %b Nombre:
/   = @regional_council.nombre
/ %p
/   %b Cargo:
/   = @regional_council.cargo
/ %p
/   %b Email:
/   = @regional_council.email
/ %p
/   %b Fono:
/   = @regional_council.fono
/ %p
/   %b Office:
/   = @regional_council.office
/ %p
/   %b Person:
/   = @regional_council.person

/ = link_to 'Edit', edit_regional_council_path(@regional_council)
/ \|
/ = link_to 'Back', regional_councils_path
