.container{:role => "main"}
  .col-md-12
    .row
      .col-md-2.text-center
        %h4 Colegio de Enfermeras de Chile
        %h5 Credencial Virtual
    .panel-body
      .row
        .col-md-2
          %a.thumbnail{:href => picture_person_path(@person.id), data: { modal: true }}
            - if @person.picture.present?
              %img.img-circle{:alt => "...", :src =>"#{@person.picture_url}"}
            - else  
              %img.img-circle{:alt => "...", :src => "http://placehold.it/150x150"}
      .row
        .col-md-2.text-center
          = @person.fullname
      .row
        .col-md-2.text-center          
          = @person.rut
      .row
        .col-md-2.text-center
          = @person.email
      .row
        .col-md-2.text-center
          = @person.nro_registro
      .row
        .col-md-2.center
          %a.thumbnail{:href => "", data: { modal: true }}
            =raw @barcode_for_html.to_html

            
