.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Oficinas
      .panel-body


        %table.table.table-striped
          %thead
            %tr
              %th Nombre
              %th Region
              %th Ciudad
              %th Email
              %th Contacto
              %th
              %th
              %th

          %tbody
            - @offices.each do |office|
              %tr
                %td= office.nombre
                %td= office.region
                %td= office.ciudad
                %td= office.email
                %td= office.contacto
                %td= link_to 'Editar', edit_office_path(office)
                %td= link_to 'Eliminar', office, :method => :delete, :data => { :confirm => 'Are you sure?' }

        %br

        = link_to 'Crear Oficina', new_office_path, data: { modal: true }
