= javascript_include_tag "//www.google.com/jsapi", "chartkick" 

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Resumen Regional
      .panel-body

        %h3
          = @office.nombre 
          %span.badge= "#{@office.people.count} Colegiadas"
        .row
          .col-md-12.text-center
            = pie_chart @colegiada_office 
        %h4= "Total cuotas 2016: $#{@office.fees.sum(:monto)}"
        %br
        %table.table.table-striped
          %thead
            %tr
              %td id
              %td Lugar de Trabajo
              %td Colegiadas
              %td Cuotas 2016
          %tbody
            - @office.workplaces.each do |workplace|
              %tr
                %td= workplace.id
                %td= workplace.nombre
                %td= workplace.people.count
                %td= workplace.fees.sum(:monto)
                %td= link_to 'Ver Mas', workplace_path(workplace.id), class: "btn btn-primary btn-xs" 
        %br  
        %hr        
        %br
