.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Lugares de trabajo
      .panel-body
        %br
        = link_to '<< Administración', "/management/index",  class: 'btn btn-info'
        %br
        %br
        %hr
        .row
          .col-sm-12.col-xs-12.editar.text-center

            = link_to 'Envio Planillas de Descuentos', "/senddiscount/index",  class: 'btn btn-info'
            = link_to 'Registro de pagos',"/adminworckplace/wppayregister",  class: 'btn btn-info'
            = link_to 'Consulta pagos por Lugar de Trabajo', "",  class: 'btn btn-info'
            = link_to 'Administrar Lugares de Trabajo', "/workplaces",  class: 'btn btn-info'