%br
.container-fluid
  .container-fluid
    .row
      .col-md-12
        %form.form-horizontal{:role => "form"}
        = simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
          = f.error_notification
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} RUT
              .col-sm-4
                = f.input :rut, placeholder: "99999999-9", label: false
              %label.col-sm-2.control-label{:for => "textinput"} Nombres
              .col-sm-4
                = f.input :nombres, label: false  
            .form-group    
              %label.col-sm-2.control-label{:for => "textinput"} Apellido Paterno
              .col-sm-4
                = f.input :apellido_paterno, label: false    
              %label.col-sm-2.control-label{:for => "textinput"} Apellido Materno
              .col-sm-4  
                = f.input :apellido_materno, label: false  
            .form-group    
              %label.col-sm-2.control-label{:for => "textinput"} Email
              .col-sm-4
                = f.input :email, label: false  
              %label.col-sm-2.control-label{:for => "textinput"} Telefono
              .col-sm-4
                = f.input :phone, label: false 
            .form-group    
              %label.col-sm-2.control-label{:for => "textinput"} Sexo
              .col-sm-4
                = f.input :sexo, label: false , collection: Person.gender_options_for_select 
              %label.col-sm-2.control-label{:for => "textinput"} Nacionalidad
              .col-sm-4  
                = f.input :nacionalidad, label: false, collection: Person.nacionalidad_options_for_select  
            .form-group     
              %label.col-sm-2.control-label{:for => "textinput"} Direccion
              .col-sm-4
                = f.input :direccion, label: false  
            .form-group    
              %label.col-sm-2.control-label{:for => "textinput"} Universidad
              .col-sm-4
                = f.input :universidad, label: false
            .form-group    
              %label.col-sm-2.control-label{:for => "textinput"} Lugar Trabajo
              .col-sm-4
                = f.input :workplase_id, label: false, collection: Workplace.workplaces_option_for_select   
              %label.col-sm-2.control-label{:for => "textinput"} Tipo Contrato
              .col-sm-4
                = f.input :tipo_contrato, label: false, collection: Person.tipocontrato_options_for_select
            %h3 Forma pago cuota social   
            %p= "Actualmente nuestra cuota social es de $#{@valorcuota}."
            %p Pago directo inplica que usted deberá realizar el pago en nuestra cuenta corriente,
            %p luego registrar su pago en su pagina de inicio, o enviar el comprobante vía email.   
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Forma de Pago 
              .col-sm-4
                = f.input :forma_pago, label: false, collection: Person.formapago_options_for_select 
              %br
              %br
              %br
              %br
            %h3 Certificado de titulo  
            .form-group   
              %label.col-sm-2.control-label{:for => "textinput"}  Importar Certificado
              = form_tag import_people_path, multipart: true do 
                = file_field_tag :file 
                %br
              .col-sm-2
              = submit_tag "Importar" 
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar