.container-fluid
  %h2 Datos Básicos
  .container-fluid
    .row
      .col-md-12
        %form.form-horizontal{:role => "form"}
        = simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
          = f.error_notification
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} RUT
              .col-sm-4
                = f.input :rut, placeholder: "99999999-9", label: false
              %label.col-sm-2.control-label{:for => "textinput"} 
              .col-sm-4
                = f.input :employmentsituation, label: false, collection: Person.employment_options_for_select
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Nombres
              .col-sm-4
                = f.input :nombres, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Apellido Paterno
              .col-sm-4
                = f.input :apellido_materno, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Apellido Materno
              .col-sm-4
                = f.input :apellido_paterno, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Nacionalidad
              .col-sm-4
                = f.input :nationality, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Sexo
              .col-sm-4
                = f.input :gender, label: false, collection: Person.gender_options_for_select
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Estado Civíl
              .col-sm-4
                = f.input :marital_status, label: false, collection: Person.maritalstatus_options_for_select
              %label.col-sm-2.control-label{:for => "textinput"} Separación de Bienes
              .col-sm-4
                = f.input :matrimonial_regime, collection: Person.maritalregime_options_for_select, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Número de Hijos
              .col-sm-4
                = f.input :number_of_children, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Teléfono
              .col-sm-4
                = f.input :phone, label: false 
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Estudios
              .col-sm-4
                = f.input :education, label: false, collection: Person.education_options_for_select
              %label.col-sm-2.control-label{:for => "textinput"} Estudios/Completos
              .col-sm-4
                = f.input :completeeduc, label: false, collection: Person.completeduc_options_for_select   
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Profesión
              .col-sm-4
                = f.input :profession, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Universidad
              .col-sm-4
                = f.input :university, label: false
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar