.container-fluid
  %h2 Datos Básicos
  .container-fluid
    .row
      .col-md-12
        %form.form-horizontal{:role => "form"}
        = simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
          .form-inputs
            / Seleccionar Foto
            / .fileinput.fileinput-new{"data-provides" => "fileinput"}
            /   .fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 200px; height: 150px;"}
            /   %div
            /     %span.btn.btn-default.btn-file
            /       %span.fileinput-new Seleccionar imagen
            /       %span.fileinput-exists Cambiar
            /       =f.file_field :picture
            /     %a.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Limpiar  

            / RUT input
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} RUT
              .col-sm-4
                = f.input :rut, placeholder: "99.999.999-9", label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Nombres
              .col-sm-4
                = f.input :first_name, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Apellidos
              .col-sm-4
                = f.input :last_name, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Nacionalidad
              .col-sm-4
                = f.input :nationality, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Estado Civíl
              .col-sm-4
                = f.input :marital_status, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Separación de Bienes
              .col-sm-4
                = f.input :matrimonial_regime, collection: Person.maritalregime_options_for_select, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Número de Hijos
              .col-sm-4
                = f.input :number_of_children, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Profesión
              .col-sm-4
                = f.input :profession, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Universidad
              .col-sm-4
                = f.input :university, label: false
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar