%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %h1
              Colegiadas
              %span.badge= @people.count
        %hr
        - if current_user.rol > 7      
          .row
            .col-md-12
              .form-inline
                = label_tag :filter_office, 'Regional'
                = select_tag :filter_office, options_for_select(Office.office_option_for_select, @office), prompt: 'Todos', class: "form-control"
        %br      
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_estado, 'Estado'
              = select_tag :filter_estado, options_for_select(Person::ESTADOS.map{|e| [e[1], e[0]]}, @estado), prompt: 'Todos', class: "form-control"
          
              = label_tag :filter_lugar_trabajo, 'Lugar de Trabajo'
              = select_tag :filter_lugar_trabajo, options_for_select(Workplace.workplaces_option_for_code(current_user), @lugar_trabajo), prompt: 'Todos', class: "form-control"  
        .row
          .col-md-12
            = simple_form_for(people_path,:method => :get ) do |f|
              .form-group  
                .col-sm-4
                  = f.input :apellido_paterno, label: false, placeholder: "Apellido Paterno", :input_html => {:style=> 'width: 350px'} 
                .col-sm-4
                  = f.input :apellido_materno, label: false, placeholder: "Apellido Materno", :input_html => {:style=> 'width: 350px'} 
              .form-group  
                .col-sm-4
                  = f.input :rut, label: false, placeholder: "Rut", :input_html => {:style=> 'width: 150px'} 
              .form-group  
                .col-sm-4
                  = f.input :nro_registro, label: false, placeholder: "Numero Registro", :input_html => {:style=> 'width: 150px'} 
              .col-sm-4  
                = f.button :submit, "Buscar",  class: "btn btn-primary"
        %br
        %br
        = link_to "Limpiar Busqueda",continuity_people_path,  class: 'btn btn-info'
        %br
        %br
        %hr 
        - if current_user.rut == '11367176-9' 
          = link_to 'Exportar Excel', continuity_toxls_people_path(format: :xls),class: 'btn btn-info'
          %br
          %br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Colegiadas
      .panel-body
        .container-fluid
          %hr
          .digg_pagination
            = will_paginate @people, previous_label: h("<  "), next_label: h("  >")
          %table.table.table-striped
            %thead
              %tr
                %th N Registro
                %th Rut
                %th Nombre
                %th 2012
                %th 2013
                %th 2014
                %th 2015
                %th 2016
                %th 2017
                %th Jun
                %th Jul
                %th Ago
                %th Sep
                %th Oct
                %th Nov
                %th 
                %th
            %tbody
              - @people.each do |person|
                %tr
                  %td= person.nro_registro
                  %td= person.rut
                  %td= person.fullname
                  %td= person.fees_continuity('2012')
                  %td= person.fees_continuity('2013')
                  %td= person.fees_continuity('2014')
                  %td= person.fees_continuity('2015')
                  %td= person.fees_continuity('2016')
                  %td= person.fees_continuity('2017')
                  - if person.fee_padron('06','2017').present?
                    %td= person.fee_padron('06','2017').monto
                  - else
                    %td
             
                  - if person.fee_padron('07','2017').present?
                    %td= person.fee_padron('07','2017').monto
                  - else
                    %td
           
                  - if person.fee_padron('08','2017').present?
                    %td= person.fee_padron('08','2017').monto
                  - else
                    %td
         
                  - if person.fee_padron('09','2017').present?
                    %td= person.fee_padron('09','2017').monto
                  - else
                    %td
       
                  - if person.fee_padron('10','2017').present?
                    %td= person.fee_padron('10','2017').monto
                  - else
                    %td
           
                  - if person.fee_padron('11','2017').present?
                    %td= person.fee_padron('11','2017').monto
                  - else
                    %td
           
                  %td= link_to 'Ver', person,class: 'btn btn-info btn-xs'
                  %td= link_to 'Todas las cuotas', fees_dashboard_index_path(person_id: person.id ), class: "btn btn-info btn-xs"
        %br