%table.table.table-striped
  %thead
    %tr
      %th N Registro
      %th Email
      %th Rut
      %th Nombre
      %th Cuotas 2013
      %th Cuotas 2014
      %th Cuotas 2015
      %th Cuotas 2016
      %th Cuotas 2017
  %tbody
    - @people.each do |person|
      %tr
        %td= person.nro_registro
        %td= person.email
        %td= person.rut
        %td= person.fullname
        %td= person.fees_continuity('2013')
        %td= person.fees_continuity('2014')
        %td= person.fees_continuity('2015')
        %td= person.fees_continuity('2016')
        %td= person.fees_continuity('2017')