%table.table.table-striped
  %thead
    %tr
      %th CodRegional
      %th Regional
      %th cod. Lugar de trabajo
      %th Lugar de trabajo
      %th N Registro
      %th Rut
      %th Nombre
      %th Fecha Inscrip.
      %th Ene
      %th
      %th
      %th Feb
      %th
      %th
      %th Mar
      %th
      %th
      %th Abr
      %th
      %th
      %th May
      %th
      %th
      %th Jun
      %th
      %th
      %th Jul
      %th
      %th
      %th Ago
      %th
      %th
      %th Sep
      %th
      %th
      %th Oct
      %th
      %th
      %th Nov
      %th
      %th
      %th Dic
      %th
      %th
      %th Ene
      %th
      %th
      %th Feb
      %th
      %th
  %tbody
    - @people.each do |person|
      %tr
        - if person.present?
          - if person.office.present?
            %td= person.office.codigo
            %td= person.office.nombre
          - else
            %td
            %td 
          - if person.workplace.present?
            %td= person.workplace.cod_wp
            %td= person.workplace.nombre
          - else
            %td
            %td    
        %td= person.nro_registro
        %td= person.rut
        %td= person.fullname
        %td= person.fecha_inscripcion
        - if person.fee_padron('01','2017').present?
          %td= person.fee_padron('01','2017').monto
          %td= person.fee_padron('01','2017').fecha_pago
          %td= person.fee_padron_count('01','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('02','2017').present?
          %td= person.fee_padron('02','2017').monto
          %td= person.fee_padron('02','2017').fecha_pago
          %td= person.fee_padron_count('02','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('03','2017').present?
          %td= person.fee_padron('03','2017').monto
          %td= person.fee_padron('03','2017').fecha_pago
          %td= person.fee_padron_count('03','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('04','2017').present?
          %td= person.fee_padron('04','2017').monto
          %td= person.fee_padron('04','2017').fecha_pago
          %td= person.fee_padron_count('04','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('05','2017').present?
          %td= person.fee_padron('05','2017').monto
          %td= person.fee_padron('05','2017').fecha_pago
          %td= person.fee_padron_count('05','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('06','2017').present?
          %td= person.fee_padron('06','2017').monto
          %td= person.fee_padron('06','2017').fecha_pago
          %td= person.fee_padron_count('06','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('07','2017').present?
          %td= person.fee_padron('07','2017').monto
          %td= person.fee_padron('07','2017').fecha_pago
          %td= person.fee_padron_count('07','2017')
        - else
          %td
          %td
          %td       
        - if person.fee_padron('08','2017').present?
          %td= person.fee_padron('08','2017').monto
          %td= person.fee_padron('08','2017').fecha_pago
          %td= person.fee_padron_count('08','2017')
        - else
          %td
          %td
          %td           
        - if person.fee_padron('09','2017').present?
          %td= person.fee_padron('09','2017').monto
          %td= person.fee_padron('09','2017').fecha_pago
          %td= person.fee_padron_count('09','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('10','2017').present?
          %td= person.fee_padron('10','2017').monto
          %td= person.fee_padron('10','2017').fecha_pago
          %td= person.fee_padron_count('10','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('11','2017').present?
          %td= person.fee_padron('11','2017').monto
          %td= person.fee_padron('11','2017').fecha_pago
          %td= person.fee_padron_count('11','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('12','2017').present?
          %td= person.fee_padron('12','2017').monto
          %td= person.fee_padron('12','2017').fecha_pago
          %td= person.fee_padron_count('12','2017')
        - else
          %td
          %td
          %td
        - if person.fee_padron('01','2018').present?
          %td= person.fee_padron('01','2018').monto
          %td= person.fee_padron('01','2018').fecha_pago
          %td= person.fee_padron_count('01','2018')
        - else
          %td
          %td
          %td
        - if person.fee_padron('02','2018').present?
          %td= person.fee_padron('02','2018').monto
          %td= person.fee_padron('02','2018').fecha_pago
          %td= person.fee_padron_count('02','2018')
        - else
          %td
          %td
          %td