.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Colegiadas
      .panel-body

        %h4 Importar Colegiadas
        = form_tag import_people_path, multipart: true do 
          = file_field_tag :file 
          %br
          = submit_tag "Importar" 

        %br
        %hr

        .row
          .col-md-12
            = simple_form_for(people_path,:method => :get ) do |f|
              .form-group  
                .col-sm-2
                  = f.input :nombre, label: false,  :input_html => {:style=> 'width: 180px'}
  
                .col-sm-2  
                  = f.button :submit, "Buscar",  class: "btn btn-primary"

            = link_to "Limpiar Busqueda","",  class: 'btn btn-info'
        %br
        %br



        %table.table.table-striped
          %thead
            %tr
              %th Email
              %th Rut
              %th Nombre
              %th


          %tbody
            - @people.each do |person|
              %tr
                %td= person.email
                %td= person.rut
                %td= person.fullname
                %td= link_to 'Ver', "/dashboard/index",class: 'btn btn-info'


        %br
        %br
        %br