%h2 Clientes

%br

%h3 Importar Clientes
= form_tag import_people_path, multipart: true do 
  = file_field_tag :file 
  = submit_tag "Importar" 


%table.table.table-striped
  %thead
    %tr
      %th Email
      %th Rut
      %th First name
      %th Last name
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.email
        %td= person.rut
        %td= person.first_name
        %td= person.last_name
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Estas seguro ?' }

%br

= link_to 'Nuevo Cliente', new_person_path
