%p#notice= notice

%p
  %b Email:
  = @person.email
%p
  %b Rut:
  = @person.rut
%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Gender:
  = @person.gender
%p
  %b Nationality:
  = @person.nationality
%p
  %b Economic activity:
  = @person.economic_activity
%p
  %b Education:
  = @person.education
%p
  %b Origin country:
  = @person.origin_country
%p
  %b Resident country:
  = @person.resident_country
%p
  %b Profession:
  = @person.profession
%p
  %b Dependents:
  = @person.dependents
%p
  %b University:
  = @person.university
%p
  %b Number of children:
  = @person.number_of_children
%p
  %b Marital status:
  = @person.marital_status
%p
  %b Matrimonial regime:
  = @person.matrimonial_regime
%p
  %b Date birth:
  = @person.date_birth

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
