.container-fluid
  .WordSection1
    %p.MsoNormal{:align => "center", :style => "margin-bottom:0cm;margin-bottom:.0001pt;\ntext-align:center;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          TERMINOS Y
          CONDICIONES DE USO
          %o:p
    %p.MsoNormal{:align => "center", :style => "margin-bottom:0cm;margin-bottom:.0001pt;\ntext-align:center;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:align => "center", :style => "margin-bottom:0cm;margin-bottom:.0001pt;\ntext-align:center;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Versión
        21/09/2015
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} PRIMERO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          \:
          ANTECEDENTES.
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p &nbsp;
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l7 level2 lfo20"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Source Sans Pro\";mso-bidi-font-family:\"Source Sans Pro\""}>
        %span{:style => "mso-list:Ignore"}
          1.1.
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Capitalizarme.com
        es una empresa legalmente constituida bajo el nombre de UpGrade 3D SpA, rol
        œnico tributario Nº76.167.912-0, cuyo objeto es la prestación de servicios de apoyo
        para apoyar y guiar a personas, naturales o jurídicas, en las decisiones de
        compra de bienes inmuebles.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l7 level2 lfo20"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Source Sans Pro\";mso-bidi-font-family:\"Source Sans Pro\""}>
        %span{:style => "mso-list:Ignore"}
          1.2.
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Capitalizarme.com
        se estructura como una plataforma colaborativa, un Market Place donde se
        ofrecen Oportunidades con beneficios œnicos, en la cual por intermedio de sus
        agentes asociados o brokers, se entrega soporte de alto valor agregado.
        También, Capitalizarme.com se encarga de establecer, guiar y hacer cumplir
        reglas claras en cuanto a plazos y tramitación de documentos entre las partes
        de la compraventa, como también entregar apoyo en la gestión de documentos,
        siempre que se cumplan las reglas establecidas.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l7 level2 lfo20"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Source Sans Pro\";mso-bidi-font-family:\"Source Sans Pro\""}>
        %span{:style => "mso-list:Ignore"}
          1.3.
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Los
        Asociados y brokers
        = succeed "de" do
          %span{:style => "mso-spacerun:yes"} &nbsp;
        Capitalizarme.com no son empleados o colaboradores de la organización, sino que
        prestan sus servicios de apoyo por intermedio de la plataforma a los clientes.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l7 level2 lfo20"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Source Sans Pro\";mso-bidi-font-family:\"Source Sans Pro\""}>
        %span{:style => "mso-list:Ignore"}
          1.4.
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Con
        todo, tanto Asociado como brokers
        = succeed "requieren," do
          %span{:style => "mso-spacerun:yes"} &nbsp;
        para participar de la
        plataforma, contar con las capacidades técnicas y profesionales exigidas para
        participar, como también, deben sujetarse a las normas, políticas y protocolos
        definidos por Capitalizarme.com en aras de proteger los intereses de los
        clientes.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.45pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l7 level2 lfo20"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Source Sans Pro\";mso-bidi-font-family:\"Source Sans Pro\""}>
        %span{:style => "mso-list:Ignore"}
          1.5.
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        En
        tal sentido, los siguientes términos y condiciones (los "Términos y
        Condiciones") regulan la relación entre los clientes y Capitalizarme.com.
        Asimismo, rigen el uso que Ud. le dé a nuestro sitio web y a cualquiera de los
        contenidos disponibles por o a través de este sitio web, incluyendo cualquier
        contenido derivado del mismo.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p &nbsp;
    %table.MsoNormalTable{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;\n mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:\n .5pt solid windowtext;mso-border-insidev:.5pt solid windowtext"}
      %tr{:style => "mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes"}
        %td{:style => "width:451.95pt;border:double windowtext 2.5pt;\n  mso-border-alt:triple windowtext 2.5pt;padding:0cm 5.4pt 0cm 5.4pt", :valign => "top", :width => "452"}
          %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\n  justify;line-height:normal"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n  \"Times New Roman\";mso-bidi-font-family:Arial;color:black;mso-ansi-language:\n  ES-MX;mso-fareast-language:ES-CL"}
                %o:p &nbsp;
          %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\n  justify;line-height:normal"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n  \"Times New Roman\";mso-bidi-font-family:Arial;color:black;mso-ansi-language:\n  ES-MX;mso-fareast-language:ES-CL"}
                AL REGISTRARSE Y UTILIZAR LOS SERVICIOS
                OFRECIDOS EN NUESTRO SITIO WEB, UD. ESTÁ ACEPTANDO EXPRESAMENTE Y ESTÁ
                SEÑALANDO ESTAR DE ACUERDO CON ESTOS TÉRMINOS Y CONDICIONES EN LO QUE SE
                REFIERE AL USO DE LOS SERVICIOS QUE PRESTA CAPITALIZARME.COM.
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
                %o:p
          %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\n  justify;line-height:normal"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
                %o:p &nbsp;
          %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\n  justify;line-height:normal"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
                DE TAL MODO, AL
                REGISTRARSE UD. ACEPTA ESTOS TÉRMINOS Y CONIDCIONES Y ESTARÁ CELEBRANDO UN CONTRATO
                CON CAPITALIZARME.COM
                %o:p
          %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\n  justify;line-height:normal"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
                %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} SEGUNDO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          \:
          CONDICIONES DE USO.
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.1.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Para
        contratar nuestros servicios Ud. deberá tener capacidad de contratar, de
        conformidad con la definición de dicho término de conformidad con las leyes
        aplicables.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.2.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        En
        caso que Ud. no sea capaz, deberá abstenerse de utilizar nuestros servicios.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.3.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        De
        tal forma, si Ud. procede al registro y apertura de cuenta en nuestro sitio
        web, Ud. está declarando ser mayor de edad, tener capacidad de contratar y, en
        caso de ser una persona jurídica, tener las autorizaciones respetivas y el
        poder para contratar en su representación.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.4.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        En
        tal sentido, se deja expresamente establecido, que los servicios de apoyo son
        prestados por los Asociados y brokers y que Capitalizarme.com no es un asesor
        en sí
        = succeed "mismo," do
          %span{:style => "mso-spacerun:yes"} &nbsp;
        sino una plataforma de
        conexión y colaboración para el contacto y prestación de los servicios de apoyo
        de Asociados y brokers.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.5.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        De
        tal forma, la relación con el Asociado y los
        = succeed "(brokers)" do
          %span{:style => "mso-spacerun:yes"} &nbsp;
        = succeed "estar\u{2021}" do
          %span{:style => "mso-spacerun:yes"} &nbsp;
        enmarcada dentro de la plataforma
        provista por Capitalizarme.com, pero Capitalizarme.com no será responsable por
        la calidad, condiciones y adecuado cumplimiento de los servicios ofrecidos por
        Asociados y Asesores.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        2.6.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Asociados
        y Asesores son profesionales consultores independientes, que no poseen relación
        de subordinación o dependencia con Capitalizarme.com
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
            %o:p
              %span{:style => "text-decoration:\n none"} &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} TERCERO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          \:
          SERVICIOS Y OBLIGACIONES DE LAS PARTES.
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p &nbsp;
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        3.1.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Con
        la aceptación de estos Términos y Condiciones, Ud. autoriza a Capitalizarme.com,
        por intermedio de sus Asociados y (brokers) a proveer a Ud. los siguientes servicios:
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:35.25pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;\nline-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l12 level1 lfo22"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Apoyo
        para una adecuada negociación de condiciones comerciales respecto de los
        productos de cada inmobiliaria en la que Ud. manifieste interés;
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l12 level1 lfo22"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Revisión
        de la promesa de compraventa;
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l12 level1 lfo22"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Presentación
        de manera escrita, vía e-mail, o de manera presencial, en reunión programada,
        todas las alternativas inmobiliarias disponibles para su compra, dentro de los
        rangos definidos de precio;
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l12 level1 lfo22"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Informar,
        dentro de las distintas alternativas exhibidas, las cualidades de cada una de
        ellas que la hacen una oportunidad de inversión, a modo ejemplar, valor,
        ubicación y características del inmueble; y
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;\nline-height:normal;mso-list:l12 level1 lfo22"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        En
        el caso que el cliente manifieste por escrito interés por alguna de las
        alternativas presentadas y mientras aœn se encuentre vigente o disponible la
        oferta, realizar las gestiones del contrato de promesa compraventa o, derechamente,
        contrato compraventa, segœn sea el caso.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:70.9pt;margin-bottom:.0001pt;text-align:justify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.ListParagraph{:style => "margin-bottom:0cm;margin-bottom:.0001pt;\nmso-add-space:auto;text-align:justify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        3.2.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Por
        su parte, el Cliente se obliga a:
        %o:p
    %p.ListParagraphCxSpFirst{:style => "margin:0cm;margin-bottom:.0001pt;\nmso-add-space:auto;text-align:justify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.ListParagraphCxSpMiddle{:style => "margin-top:0cm;margin-right:0cm;\nmargin-bottom:0cm;margin-left:71.4pt;margin-bottom:.0001pt;mso-add-space:auto;\ntext-align:justify;text-indent:-35.95pt;line-height:normal;mso-list:l24 level1 lfo23"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Comunicar
        por escrito su verdadera situación legal y financiera como eventual sujeto de
        crédito por parte de las instituciones financieras. Lo que implica contar, a la
        fecha de firma de promesa de compraventa y escritura de compraventa, con la
        capacidad financiera o acceso a endeudamiento razonablemente suficientes para
        formalizar la compra de un inmueble seleccionado previamente por el cliente al
        momento de la reserva. Cualquier cambio en dicha condición deberá ser
        comunicado oportunamente al Asociado o Asesor;
        %o:p
    %p.ListParagraphCxSpMiddle{:style => "margin-top:0cm;margin-right:0cm;\nmargin-bottom:0cm;margin-left:71.4pt;margin-bottom:.0001pt;mso-add-space:auto;\ntext-align:justify;text-indent:-35.95pt;line-height:normal;mso-list:l24 level1 lfo23"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Informar
        al Asociado o broker las cualidades relevantes en un inmueble, sirviendo éstas
        como criterios de bœsqueda para el Asociado o broker para la posterior
        presentación de alternativas al cliente;
        %o:p
    %p.ListParagraphCxSpLast{:style => "margin-top:0cm;margin-right:0cm;\nmargin-bottom:0cm;margin-left:71.4pt;margin-bottom:.0001pt;mso-add-space:auto;\ntext-align:justify;text-indent:-35.95pt;line-height:normal;mso-list:l24 level1 lfo23"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Manifestar
        por escrito su voluntad en orden a aceptar o rechazar las alternativas de
        inmuebles presentadas o, alternativamente, ejecutar actos que denoten tal
        voluntad, cómo puede ser la transferencia de los dineros requeridos para
        concretar la reserva a la cuenta bancaria que hubiere sido informada por el
        bróker; Poner a disposición del Asociado o el broker, en el plazo de 15 días
        hábiles contados desde la fecha de aceptación de estos Términso y Condiciones,
        la documentación solicitada para la gestión de reserva, promesa de compraventa
        y/o compraventa; y
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        En caso que el Cliente no disponibilice
        la documentación requerida por el Asociado o bróker y respecto de la cual asume
        la obligación de entregar en el plazo de 15 días hábiles, se entenderá que el
        Cliente incumple la obligación asumida y será sancionado, a título
        compensatorio por los perjuicios causados al Asociado o bróker, con la perdida
        de la reserva que hubiere ya pagado a estos por intermedio de Capitalizarme.com
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} CUARTO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          \:
          RESPONSABILIDAD.
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        4.1.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Capitalizarme.com,
        el Asociado o el broker no serán responsables de:
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %span{:style => "mso-spacerun:yes"} &nbsp;
        %o:p
    %p.ListParagraphCxSpFirst{:style => "margin-top:0cm;margin-right:0cm;\nmargin-bottom:0cm;margin-left:53.4pt;margin-bottom:.0001pt;mso-add-space:auto;\ntext-align:justify;text-indent:-18.0pt;line-height:normal;mso-list:l23 level1 lfo7"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Los
        impedimentos, legales o financieros, que pudieran afectar al cliente y, por
        ende, que no le permitieran ser sujeto de crédito para la adquisición de el o
        los inmuebles que hubiese seleccionado, como asimismo, de los que pudieren
        recaer sobre la institución financiera o el vendedor; y
        %o:p
    %p.ListParagraphCxSpLast{:style => "margin-top:0cm;margin-right:0cm;\nmargin-bottom:0cm;margin-left:53.4pt;margin-bottom:.0001pt;mso-add-space:auto;\ntext-align:justify;text-indent:-18.0pt;line-height:normal;mso-list:l23 level1 lfo7"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:\nSymbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        Los
        desperfectos técnicos que pudiere presentar el inmueble reservado, promesado o
        comprado, responsabilidad que si corresponderá de conformidad con las leyes
        vigentes a la empresa inmobiliaria que hubiese ofrecido el inmueble respectivo.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:35.25pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;background:white"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        4.2.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        La
        información, recomendaciones u otros servicios prestados en o a través del
        sitio web de Capitalizarme.com, por intermedio de sus Asociados o
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} brokers
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        , son solo información general y no
        constituyen un aviso. Capitalizarme.com se ocupará de mantener el sitio web y
        sus contenidos de forma razonablemente correcta y actualizada, pero no podrá
        garantizar que (los contenidos de) el sitio web carezcan de errores, defectos,
        malware y virus.
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:35.25pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;background:white"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        4.3.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Capitalizarme.com
        no será responsable por ningœn da–o derivado del uso de (o incapacidad de usar)
        el sitio web, incluyendo los da–os causados por malware, virus o cualquier información
        incorrecta o incompleta, salvo que este da–o se derive de cualquier conducta
        dolosa o negligencia grave por parte de Capitalizarme.com.
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:35.25pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;background:white"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        4.4.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Asimismo,
        Capitalizarme.com no será responsable por los da–os derivados del uso de (o
        incapacidad de usar) los medios de comunicación electrónicos con el sitio web,
        incluyendo ó sin limitación ó da–os derivados del fallo o retraso
        en la entrega de comunicaciones electrónicas, intercepción o manipulación de
        comunicaciones electrónicas por terceros o por programas informáticos usados
        para comunicaciones electrónicas y transmisión de virus.
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:35.25pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.25pt;background:white"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        4.5.
        %span{:style => "mso-tab-count:1"}> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        La
        calidad de los servicios de los Asociados y del
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} broker
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial;color:black"}
        %span{:style => "mso-spacerun:yes"}> &nbsp;
        solicitados a través del sitio web de
        Capitalizarme.com será plena responsabilidad del Asociado o Asesor, quien en
        œltima instancia será quien preste los servicios de apoyo. Bajo ninguna
        circunstancia, Capitalizarme.com aceptará responsabilidad en relación con o
        derivada de los servicios de apoyo prestados por los Asociados o broker ni por
        ningœn acto, acción, comportamiento, conducta o negligencia por parte de estos.
        Todas las reclamaciones sobre los servicios se deberán remitir a los Asociados
        o Asesores, por medio de los canales de comunicación habilitados por
        Capitalizarme.com.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-fareast-language:ES-CL"} QUINTO
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-fareast-language:ES-CL"} :
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
          DERECHOS DE
          PROPIEDAD
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        \.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        Por los
        presentes Términos y Condiciones se acuerda que Capitalizarme.com es due–o
        œnico y exclusivo, de todos los derechos, título e intereses en y del sitio
        web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías,
        ilustraciones, gráficos, otros medios visuales, videos, copias, textos,
        software, títulos, etc.), códigos, datos y materiales del mismo, el aspecto y
        el ambiente, el dise–o y la organización del sitio web y la compilación de los
        contenidos, códigos, datos y los materiales en el sitio web, incluyendo pero no
        limitado a, cualesquiera derechos de autor, derechos de marca, derechos de
        patente, derechos de base de datos, derechos morales, derechos sui generis y
        otras propiedades intelectuales y derechos patrimoniales del mismo. Su uso del
        sitio web no le otorga propiedad de ninguno de los contenidos, códigos, datos o
        materiales a los que pueda acceder en o a través del sitio web.
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-fareast-language:ES-CL"}
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-fareast-language:\nES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-fareast-language:ES-CL"} SEXTO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";color:black;mso-fareast-language:\nES-CL"} :
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\"Times New Roman\";\nmso-bidi-font-family:Arial;color:black;mso-ansi-language:ES-MX;mso-fareast-language:\nES-CL"}
          USO PROHIBIDO.
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";mso-bidi-font-family:Arial;color:black;mso-ansi-language:\nES-MX;mso-fareast-language:ES-CL"}
          %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        Cualquier
        distribución, publicación o explotación comercial o promocional del sitio web,
        o de cualquiera de los contenidos, códigos, datos o materiales en el sitio web,
        está estrictamente prohibida, a menos de que Ud. haya recibido el previo
        permiso expreso por escrito del personal autorizado de Capitalizarme.com o de
        algœn otro poseedor de derechos aplicable. A no ser como está expresamente
        permitido en el presente contrato, usted no puede descargar, informar, exponer,
        publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar,
        difundir, transferir, crear trabajos derivados de, vender o de cualquier otra
        manera explotar cualquiera de los contenidos, códigos, datos o materiales en o
        disponibles a través del sitio web o información provista por Capitalizarme.com
        por intermedio de sus Asociados o Asesores.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
        Usted se obliga
        además a no alterar, editar, borrar, quitar, o de otra manera cambiar el
        significado o la apariencia de, o cambiar el propósito de, cualquiera de los
        contenidos, códigos, datos o materiales en o disponibles a través del sitio web,
        de estos Términos y Condiciones, y de toda documentación que sea provista por
        Capitalizarme.com, sus Asociados o Asesores, incluyendo, sin limitación, la
        alteración o retiro de cualquier marca comercial, marca registrada, logo, marca
        de servicios o cualquier otro contenido de propiedad o notificación de derechos
        de propiedad.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"} &nbsp;
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\n\"Times New Roman\";color:black;mso-fareast-language:ES-CL"}
        %o:p
    %p.ListParagraph{:style => "margin:0cm;margin-bottom:.0001pt;mso-add-space:\nauto;text-align:justify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:\nnormal"}
        %u
          %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"} SƒPTIMO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-MX", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-ansi-language:ES-MX;mso-fareast-language:ES-CL"}
          \: INFORMACIîN
          DEL USUARIO.
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial"}
        En Capitalizarme.com el manejo adecuado de la información
        de cada uno de los clientes o potenciales clientes es una preocupación
        principal. Es por eso que Capitalizarme.com ha establecido estándares que
        apuntan al manejo de su información de forma confidencial y segura:
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-bidi-font-family:Arial"}
        %o:p &nbsp;
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:70.9pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;mso-list:l4 level1 lfo24"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:\nSymbol;mso-bidi-font-family:Symbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\";mso-bidi-font-family:Arial"}
        Cualquier
        información dada por los clientes será recogida y guardada de acuerdo con los
        más rígidos patrones de seguridad y confidencialidad, de acuerdo a las normas
        legales vigentes;
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:70.9pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;mso-list:l4 level1 lfo24"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:\nSymbol;mso-bidi-font-family:Symbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\";mso-bidi-font-family:Arial"}
        De
        acuerdo a la Ley N¡19.628 sobre Protección de Datos de Carácter Personal,
        Capitalizarme.com podrá compartir, con terceros relacionados
        %span{:style => "mso-spacerun:yes"}> &nbsp;
        asociados y con aquellas entidades a que
        se encuentre afiliado, datos personales cuando cuente con la autorización
        expresa del cliente; Capitalizarme.com no podrá vender, traspasar ni comunicar
        datos de carácter personal de los clientes a terceros distintos a los
        anteriormente mencionados, sin perjuicio de que los datos personales aportados
        deberán ser divulgados cuando la ley, organismos del estado o el poder judicial
        así lo requieran;
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:70.9pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;mso-list:l4 level1 lfo24"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:\nSymbol;mso-bidi-font-family:Symbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\";mso-bidi-font-family:Arial"}
        El
        acceso a la información de nuestros clientes está restringida a los
        funcionarios autorizados para el uso adecuado de esos datos;
        %o:p
    %p{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:70.9pt;\nmargin-bottom:.0001pt;text-align:justify;text-indent:-35.45pt;mso-list:l4 level1 lfo24"}
      <![if !supportLists]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:Symbol;mso-fareast-font-family:\nSymbol;mso-bidi-font-family:Symbol"}>
        %span{:style => "mso-list:Ignore"}
          á
          %span{:style => "font:7.0pt \"Times New Roman\""}
            \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <![endif]>
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\";mso-bidi-font-family:Arial"}
        Capitalizarme.com
        coloca a disposición de sus clientes, canales de atención para aclarar
        cualquier duda que pueda surgir.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "mso-bidi-font-style:italic"}
          POR ESTE ACTO, EL CLIENTE
          AUTORIZA EXPRESAMENTE A CAPITALIZARME.COM, LOS ASOCIADOS Y LOS BROKERS A TRANSFERIR
          LA INFORMACIîN PERSONAL ENTREGADA A ENTIDADES FINANCIERAS O BANCOS CON EL FIN
          DE QUE DICHAS INSTITUCIONES PUEDEN ADMINISTRAR Y PROPONER PREAPROBACIONES DE
          FINANCIAMIENTO PARA LA ADQUISICIîN DE EL O LOS INMUEBLES SELECCIONADOS.
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""} OCTAVO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\""}
          \:
          VIGENCIA DEL CONTRATO.
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        Por la aceptación de estos Términos y
        Condiciones se suscribe el contrato entre Capitalizarme.com y Ud. por un
        periodo indefinido.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal;background:white"}
      %span{:lang => "ES-CL", :style => "font-family:\n\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\"Times New Roman\";\nmso-bidi-font-family:Arial;color:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal;background:white"}
      %span{:lang => "ES-CL", :style => "font-family:\n\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\"Times New Roman\";\nmso-bidi-font-family:Arial;color:black;mso-fareast-language:ES-CL"}
        Tendrá
        derecho a finalizar el contrato en todo momento mediante el envío de solicitud
        escrita en tal sentido a [insertar e-mail]. Podrá cerrar su cuenta de usuario
        en cualquier momento siguiendo las instrucciones del sitio web de
        Capitalizarme.com.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal;background:white"}
      %span{:lang => "ES-CL", :style => "font-family:\n\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\"Times New Roman\";\nmso-bidi-font-family:Arial;color:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal;background:white"}
      %span{:lang => "ES-CL", :style => "font-family:\n\"Source Sans Pro\",\"sans-serif\";mso-fareast-font-family:\"Times New Roman\";\nmso-bidi-font-family:Arial;color:black;mso-fareast-language:ES-CL"}
        Capitalizarme.com
        tendrá derecho a terminar el contrato en todo momento y con efecto inmediato si
        Ud. infringe o incumple cualquier condición de los presentes Términos y
        Condiciones.
        %o:p
    %p.MsoNormal{:style => "margin-top:0cm;margin-right:0cm;margin-bottom:0cm;\nmargin-left:18.0pt;margin-bottom:.0001pt;text-align:justify;line-height:normal;\nbackground:white"}
      %span{:lang => "ES-CL", :style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\ncolor:black;mso-fareast-language:ES-CL"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %b{:style => "mso-bidi-font-weight:normal"}
        %u
          %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\""} NOVENO
      %b{:style => "mso-bidi-font-weight:normal"}
        %span{:lang => "ES-CL", :style => "font-size:11.0pt;\nfont-family:\"Source Sans Pro\",\"sans-serif\""} : RESOLUCIîN DE CONFLICTOS
      %span{:lang => "ES-CL", :style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\""}
        \.
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-ansi-language:ES-TRAD"}
        Cualquier duda o dificultad que surja entre las
        partes con motivo de estos Términos y Condiciones o de sus documentos
        integrantes y sus documentos complementarios o modificatorios, ya se refiera a
        su interpretación, cumplimiento, validez, terminación, o cualquier otra causa
        relacionada, se resolverá mediante arbitraje, conforme al Reglamento del Centro
        de Arbitrajes de la Cámara de Comercio de Santiago A.G., cuyas disposiciones
        las partes declaran conocer y aceptar y se entienden formar parte integrante de
        esta cláusula.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        El árbitro tendrá el carácter de árbitro mixto esto es, arbitrador en
        cuanto al procedimiento y de derecho en cuanto al fallo, que no tendrá interés
        alguno en el conflicto o disputa, y que será imparcial respecto de cada parte.
        El árbitro será designado por las partes de comœn acuerdo. A falta de acuerdo,
        el árbitro será designado de conformidad al Reglamento del Centro de Arbitrajes
        de la Cámara de Comercio de Santiago A.G., a cuyo efecto las partes confieren
        mandato especial irrevocable a la Cámara de Comercio de Santiago A.G., en
        adelante la ÒCámaraÓ, para que, a solicitud escrita de cualquiera de las
        partes, designe al árbitro arbitrador en el procedimiento y de derecho en
        cuanto al fallo de entre los integrantes abogados del cuerpo arbitral del
        Centro de Arbitrajes de esa Cámara. Antes de proceder a la designación y dentro
        del plazo que al efecto fije la Cámara, cada parte tendrá el derecho de vetar
        sin expresión de causa hasta tres miembros del listado de árbitros de la
        Cámara. Con todo, el árbitro deberá necesariamente poseer una amplia y
        reconocida experiencia y trayectoria en la resolución de conflictos
        relacionados con materias propias de este Contrato.
        %span{:style => "mso-spacerun:yes"} &nbsp;&nbsp;&nbsp;
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        En contra de las resoluciones del árbitro no procederá recurso alguno,
        por lo que las partes renuncian expresamente a ellos.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        El árbitro queda especialmente facultado para resolver todo asunto
        relacionado con su competencia y/o jurisdicción.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        Cualquier cuestión o dificultad que surja en la ejecución de este
        contrato no podrá motivar, en caso alguno, la suspensión de la ejecución de
        éste, sin perjuicio de que las partes procuren un acuerdo o sometan la cuestión
        a conocimiento del árbitro se–alado en esta cláusula.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        El arbitraje tendrá lugar en la ciudad de Santiago. El idioma oficial
        del arbitraje será el espa–ol.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        Esta cláusula se mantendrá vigente más allá del término de este
        contrato, de manera de poder resolver cualquier conflicto que surja como
        consecuencia de éste.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        La interpretación y aplicación de estos Términos y Condiciones se
        regirá por las Leyes de la Repœblica de Chile.
        %o:p
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        %o:p &nbsp;
    %p{:style => "margin:0cm;margin-bottom:.0001pt;text-align:justify"}
      %b
        %u
          %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"} DƒCIMO
      %b
        %span{:style => "font-size:11.0pt;font-family:\n\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:ES-TRAD"} : DOMICILIO.
      %span{:style => "font-size:11.0pt;font-family:\"Source Sans Pro\",\"sans-serif\";mso-ansi-language:\nES-TRAD"}
        Para todos los efectos derivados de estos Términos y Condiciones, las
        partes fijan domicilio
        = succeed "en" do
          %span{:style => "mso-bidi-font-weight:bold"}
            especial
            %b       la ciudad de Santiago, sometiéndose a la competencia de los tribunales
        ordinarios de justicia con asiento en la comuna de Santiago, en todas aquellas
        materias que no sean de competencia arbitral.
        %o:p
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-ansi-language:ES-TRAD"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-ansi-language:ES-TRAD"}
        %o:p &nbsp;
    %p.MsoNormal{:style => "margin-bottom:0cm;margin-bottom:.0001pt;text-align:\njustify;line-height:normal"}
      %span{:style => "font-family:\"Source Sans Pro\",\"sans-serif\";\nmso-ansi-language:ES-TRAD"}
        %o:p &nbsp;

.container-fluid
  .container-fluid
    .row
      .col-md-12
        = simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
          = f.error_notification
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} RUT
              .col-sm-4
                = f.input :rut, placeholder: "99999999-9", label: false
                = f.input :terms, :as => :hidden, :input_html => { :value => "OK" }
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Acepto Terminos y Conciciones
