.container-fluid
  .container-fluid
    .row
      %p
        %strong TERMINOS Y CONDICIONES DE USO
      %p &nbsp;
      %p Versi&oacute;n 21/09/2015
      %p &nbsp;
      %p
        %strong PRIMERO
        %strong : ANTECEDENTES.
      %p
        %strong &nbsp;
      %ol
        %li{:style => "text-align: justify;"} EMPRESA.com es una empresa legalmente constituida bajo el nombre de UpGrade 3D SpA, rol &uacute;nico tributario N&deg;76.167.912-0, cuyo objeto es la prestaci&oacute;n de servicios de apoyo para apoyar y guiar a personas, naturales o jur&iacute;dicas, en las decisiones de compra de bienes inmuebles.
        %li{:style => "text-align: justify;"} EMPRESA.com se estructura como una plataforma colaborativa, un Market Place donde se ofrecen Oportunidades con beneficios &uacute;nicos, en la cual por intermedio de sus agentes asociados o brokers, se entrega soporte de alto valor agregado. Tambi&eacute;n, EMPRESA.com se encarga de establecer, guiar y hacer cumplir reglas claras en cuanto a plazos y tramitaci&oacute;n de documentos entre las partes de la compraventa, como tambi&eacute;n entregar apoyo en la gesti&oacute;n de documentos, siempre que se cumplan las reglas establecidas.
        %li{:style => "text-align: justify;"} Los Asociados y brokers de EMPRESA.com no son empleados o colaboradores de la organizaci&oacute;n, sino que prestan sus servicios de apoyo por intermedio de la plataforma a los clientes.
        %li{:style => "text-align: justify;"} Con todo, tanto Asociado como brokers requieren, para participar de la plataforma, contar con las capacidades t&eacute;cnicas y profesionales exigidas para participar, como tambi&eacute;n, deben sujetarse a las normas, pol&iacute;ticas y protocolos definidos por EMPRESA.com en aras de proteger los intereses de los clientes.
        %li{:style => "text-align: justify;"} En tal sentido, los siguientes t&eacute;rminos y condiciones (los &ldquo;T&eacute;rminos y Condiciones&rdquo;) regulan la relaci&oacute;n entre los clientes y EMPRESA.com. Asimismo, rigen el uso que Ud. le d&eacute; a nuestro sitio web y a cualquiera de los contenidos disponibles por o a trav&eacute;s de este sitio web, incluyendo cualquier contenido derivado del mismo.
      %p
        %strong &nbsp;
      %table
        %tbody
          %tr
            %td{:width => "452"}
              %p
                %strong &nbsp;
              %p
                %strong AL REGISTRARSE Y UTILIZAR LOS SERVICIOS OFRECIDOS EN NUESTRO SITIO WEB, UD. EST&Aacute; ACEPTANDO EXPRESAMENTE Y EST&Aacute; SE&Ntilde;ALANDO ESTAR DE ACUERDO CON ESTOS T&Eacute;RMINOS Y CONDICIONES EN LO QUE SE REFIERE AL USO DE LOS SERVICIOS QUE PRESTA EMPRESA.COM.
              %p
                %strong &nbsp;
              %p
                %strong DE TAL MODO, AL REGISTRARSE UD. ACEPTA ESTOS T&Eacute;RMINOS Y CONIDCIONES Y ESTAR&Aacute; CELEBRANDO UN CONTRATO CON EMPRESA.COM
              %p
                %strong &nbsp;
      %p
        %strong &nbsp;
      %p
        %strong SEGUNDO
        %strong : CONDICIONES DE USO.
      %p &nbsp;
      %p 2.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Para contratar nuestros servicios Ud. deber&aacute; tener capacidad de contratar, de conformidad con la definici&oacute;n de dicho t&eacute;rmino de conformidad con las leyes aplicables.
      %p 2.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; En caso que Ud. no sea capaz, deber&aacute; abstenerse de utilizar nuestros servicios.
      %p 2.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De tal forma, si Ud. procede al registro y apertura de cuenta en nuestro sitio web, Ud. est&aacute; declarando ser mayor de edad, tener capacidad de contratar y, en caso de ser una persona jur&iacute;dica, tener las autorizaciones respetivas y el poder para contratar en su representaci&oacute;n.
      %p 2.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; En tal sentido, se deja expresamente establecido, que los servicios de apoyo son prestados por los Asociados y brokers y que EMPRESA.com no es un asesor en s&iacute; mismo, sino una plataforma de conexi&oacute;n y colaboraci&oacute;n para el contacto y prestaci&oacute;n de los servicios de apoyo de Asociados y brokers.
      %p 2.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; De tal forma, la relaci&oacute;n con el Asociado y los (brokers) estar&aacute; enmarcada dentro de la plataforma provista por EMPRESA.com, pero EMPRESA.com no ser&aacute; responsable por la calidad, condiciones y adecuado cumplimiento de los servicios ofrecidos por Asociados y Asesores.
      %p 2.6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asociados y Asesores son profesionales consultores independientes, que no poseen relaci&oacute;n de subordinaci&oacute;n o dependencia con EMPRESA.com
      %p
        %strong &nbsp;
      %p
        %strong TERCERO
        %strong : SERVICIOS Y OBLIGACIONES DE LAS PARTES.
      %p
        %strong &nbsp;
      %p 3.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Con la aceptaci&oacute;n de estos T&eacute;rminos y Condiciones, Ud. autoriza a EMPRESA.com, por intermedio de sus Asociados y (brokers) a proveer a Ud. los siguientes servicios:
      %p &nbsp;
      %ul
        %li Apoyo para una adecuada negociaci&oacute;n de condiciones comerciales respecto de los productos de cada inmobiliaria en la que Ud. manifieste inter&eacute;s;
        %li Revisi&oacute;n de la promesa de compraventa;
        %li Presentaci&oacute;n de manera escrita, v&iacute;a e-mail, o de manera presencial, en reuni&oacute;n programada, todas las alternativas inmobiliarias disponibles para su compra, dentro de los rangos definidos de precio;
        %li Informar, dentro de las distintas alternativas exhibidas, las cualidades de cada una de ellas que la hacen una oportunidad de inversi&oacute;n, a modo ejemplar, valor, ubicaci&oacute;n y caracter&iacute;sticas del inmueble; y
        %li En el caso que el cliente manifieste por escrito inter&eacute;s por alguna de las alternativas presentadas y mientras a&uacute;n se encuentre vigente o disponible la oferta, realizar las gestiones del contrato de promesa compraventa o, derechamente, contrato compraventa, seg&uacute;n sea el caso.
      %p &nbsp;
      %p &nbsp;
      %p 3.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Por su parte, el Cliente se obliga a:
      %p &nbsp;
      %ul
        %li Comunicar por escrito su verdadera situaci&oacute;n legal y financiera como eventual sujeto de cr&eacute;dito por parte de las instituciones financieras. Lo que implica contar, a la fecha de firma de promesa de compraventa y escritura de compraventa, con la capacidad financiera o acceso a endeudamiento razonablemente suficientes para formalizar la compra de un inmueble seleccionado previamente por el cliente al momento de la reserva. Cualquier cambio en dicha condici&oacute;n deber&aacute; ser comunicado oportunamente al Asociado o Asesor;
        %li Informar al Asociado o broker las cualidades relevantes en un inmueble, sirviendo &eacute;stas como criterios de b&uacute;squeda para el Asociado o broker para la posterior presentaci&oacute;n de alternativas al cliente;
        %li Manifestar por escrito su voluntad en orden a aceptar o rechazar las alternativas de inmuebles presentadas o, alternativamente, ejecutar actos que denoten tal voluntad, c&oacute;mo puede ser la transferencia de los dineros requeridos para concretar la reserva a la cuenta bancaria que hubiere sido informada por el br&oacute;ker; Poner a disposici&oacute;n del Asociado o el broker, en el plazo de 15 d&iacute;as h&aacute;biles contados desde la fecha de aceptaci&oacute;n de estos T&eacute;rminso y Condiciones, la documentaci&oacute;n solicitada para la gesti&oacute;n de reserva, promesa de compraventa y/o compraventa; y
      %p &nbsp;
      %p En caso que el Cliente no disponibilice la documentaci&oacute;n requerida por el Asociado o br&oacute;ker y respecto de la cual asume la obligaci&oacute;n de entregar en el plazo de 15 d&iacute;as h&aacute;biles, se entender&aacute; que el Cliente incumple la obligaci&oacute;n asumida y ser&aacute; sancionado, a t&iacute;tulo compensatorio por los perjuicios causados al Asociado o br&oacute;ker, con la perdida de la reserva que hubiere ya pagado a estos por intermedio de EMPRESA.com
      %p &nbsp;
      %p
        %strong CUARTO
        %strong : RESPONSABILIDAD.
      %p &nbsp;
      %p 4.1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EMPRESA.com, el Asociado o el broker no ser&aacute;n responsables de:
      %ul
        %li Los impedimentos, legales o financieros, que pudieran afectar al cliente y, por ende, que no le permitieran ser sujeto de cr&eacute;dito para la adquisici&oacute;n de el o los inmuebles que hubiese seleccionado, como asimismo, de los que pudieren recaer sobre la instituci&oacute;n financiera o el vendedor; y
        %li Los desperfectos t&eacute;cnicos que pudiere presentar el inmueble reservado, promesado o comprado, responsabilidad que si corresponder&aacute; de conformidad con las leyes vigentes a la empresa inmobiliaria que hubiese ofrecido el inmueble respectivo.
      %p &nbsp;
      %p 4.2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La informaci&oacute;n, recomendaciones u otros servicios prestados en o a trav&eacute;s del sitio web de EMPRESA.com, por intermedio de sus Asociados o brokers, son solo informaci&oacute;n general y no constituyen un aviso. EMPRESA.com se ocupar&aacute; de mantener el sitio web y sus contenidos de forma razonablemente correcta y actualizada, pero no podr&aacute; garantizar que (los contenidos de) el sitio web carezcan de errores, defectos, malware y virus.
      %p 4.3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EMPRESA.com no ser&aacute; responsable por ning&uacute;n da&ntilde;o derivado del uso de (o incapacidad de usar) el sitio web, incluyendo los da&ntilde;os causados por malware, virus o cualquier informaci&oacute;n incorrecta o incompleta, salvo que este da&ntilde;o se derive de cualquier conducta dolosa o negligencia grave por parte de EMPRESA.com.
      %p 4.4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Asimismo, EMPRESA.com no ser&aacute; responsable por los da&ntilde;os derivados del uso de (o incapacidad de usar) los medios de comunicaci&oacute;n electr&oacute;nicos con el sitio web, incluyendo &mdash; sin limitaci&oacute;n &mdash; da&ntilde;os derivados del fallo o retraso en la entrega de comunicaciones electr&oacute;nicas, intercepci&oacute;n o manipulaci&oacute;n de comunicaciones electr&oacute;nicas por terceros o por programas inform&aacute;ticos usados para comunicaciones electr&oacute;nicas y transmisi&oacute;n de virus.
      %p 4.5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La calidad de los servicios de los Asociados y del broker solicitados a trav&eacute;s del sitio web de EMPRESA.com ser&aacute; plena responsabilidad del Asociado o Asesor, quien en &uacute;ltima instancia ser&aacute; quien preste los servicios de apoyo. Bajo ninguna circunstancia, EMPRESA.com aceptar&aacute; responsabilidad en relaci&oacute;n con o derivada de los servicios de apoyo prestados por los Asociados o broker ni por ning&uacute;n acto, acci&oacute;n, comportamiento, conducta o negligencia por parte de estos. Todas las reclamaciones sobre los servicios se deber&aacute;n remitir a los Asociados o Asesores, por medio de los canales de comunicaci&oacute;n habilitados por EMPRESA.com.
      %p &nbsp;
      %p
        %strong> QUINTO
        \:
        = succeed "." do
          %strong DERECHOS DE PROPIEDAD
      %p &nbsp;
      %p Por los presentes T&eacute;rminos y Condiciones se acuerda que EMPRESA.com es due&ntilde;o &uacute;nico y exclusivo, de todos los derechos, t&iacute;tulo e intereses en y del sitio web, de todo el contenido (incluyendo, por ejemplo, audio, fotograf&iacute;as, ilustraciones, gr&aacute;ficos, otros medios visuales, videos, copias, textos, software, t&iacute;tulos, etc.), c&oacute;digos, datos y materiales del mismo, el aspecto y el ambiente, el dise&ntilde;o y la organizaci&oacute;n del sitio web y la compilaci&oacute;n de los contenidos, c&oacute;digos, datos y los materiales en el sitio web, incluyendo pero no limitado a, cualesquiera derechos de autor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui generis y otras propiedades intelectuales y derechos patrimoniales del mismo. Su uso del sitio web no le otorga propiedad de ninguno de los contenidos, c&oacute;digos, datos o materiales a los que pueda acceder en o a trav&eacute;s del sitio web.
      %p &nbsp;
      %p
        %strong SEXTO
        %strong :
        %strong USO PROHIBIDO.
      %p
        %strong &nbsp;
      %p Cualquier distribuci&oacute;n, publicaci&oacute;n o explotaci&oacute;n comercial o promocional del sitio web, o de cualquiera de los contenidos, c&oacute;digos, datos o materiales en el sitio web, est&aacute; estrictamente prohibida, a menos de que Ud. haya recibido el previo permiso expreso por escrito del personal autorizado de EMPRESA.com o de alg&uacute;n otro poseedor de derechos aplicable. A no ser como est&aacute; expresamente permitido en el presente contrato, usted no puede descargar, informar, exponer, publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir, transferir, crear trabajos derivados de, vender o de cualquier otra manera explotar cualquiera de los contenidos, c&oacute;digos, datos o materiales en o disponibles a trav&eacute;s del sitio web o informaci&oacute;n provista por EMPRESA.com por intermedio de sus Asociados o Asesores.
      %p &nbsp;
      %p Usted se obliga adem&aacute;s a no alterar, editar, borrar, quitar, o de otra manera cambiar el significado o la apariencia de, o cambiar el prop&oacute;sito de, cualquiera de los contenidos, c&oacute;digos, datos o materiales en o disponibles a trav&eacute;s del sitio web, de estos T&eacute;rminos y Condiciones, y de toda documentaci&oacute;n que sea provista por EMPRESA.com, sus Asociados o Asesores, incluyendo, sin limitaci&oacute;n, la alteraci&oacute;n o retiro de cualquier marca comercial, marca registrada, logo, marca de servicios o cualquier otro contenido de propiedad o notificaci&oacute;n de derechos de propiedad.
      %p &nbsp;
      %p
        %strong S&Eacute;PTIMO
        %strong : INFORMACI&Oacute;N DEL USUARIO.
      %p &nbsp;
      %p En EMPRESA.com el manejo adecuado de la informaci&oacute;n de cada uno de los clientes o potenciales clientes es una preocupaci&oacute;n principal. Es por eso que EMPRESA.com ha establecido est&aacute;ndares que apuntan al manejo de su informaci&oacute;n de forma confidencial y segura:
      %p &nbsp;
      %ul
        %li Cualquier informaci&oacute;n dada por los clientes ser&aacute; recogida y guardada de acuerdo con los m&aacute;s r&iacute;gidos patrones de seguridad y confidencialidad, de acuerdo a las normas legales vigentes;
        %li De acuerdo a la Ley N&deg;19.628 sobre Protecci&oacute;n de Datos de Car&aacute;cter Personal, EMPRESA.com podr&aacute; compartir, con terceros relacionados asociados y con aquellas entidades a que se encuentre afiliado, datos personales cuando cuente con la autorizaci&oacute;n expresa del cliente; EMPRESA.com no podr&aacute; vender, traspasar ni comunicar datos de car&aacute;cter personal de los clientes a terceros distintos a los anteriormente mencionados, sin perjuicio de que los datos personales aportados deber&aacute;n ser divulgados cuando la ley, organismos del estado o el poder judicial as&iacute; lo requieran;
        %li El acceso a la informaci&oacute;n de nuestros clientes est&aacute; restringida a los funcionarios autorizados para el uso adecuado de esos datos;
        %li com coloca a disposici&oacute;n de sus clientes, canales de atenci&oacute;n para aclarar cualquier duda que pueda surgir.
      %p &nbsp;
      %p
        %strong POR ESTE ACTO, EL CLIENTE AUTORIZA EXPRESAMENTE A EMPRESA.COM, LOS ASOCIADOS Y LOS BROKERS A TRANSFERIR LA INFORMACI&Oacute;N PERSONAL ENTREGADA A ENTIDADES FINANCIERAS O BANCOS CON EL FIN DE QUE DICHAS INSTITUCIONES PUEDEN ADMINISTRAR Y PROPONER PREAPROBACIONES DE FINANCIAMIENTO PARA LA ADQUISICI&Oacute;N DE EL O LOS INMUEBLES SELECCIONADOS.
      %p &nbsp;
      %p
        %strong OCTAVO
        = succeed "Por" do
          %strong : VIGENCIA DEL CONTRATO.
        la aceptaci&oacute;n de estos T&eacute;rminos y Condiciones se suscribe el contrato entre EMPRESA.com y Ud. por un periodo indefinido.
      %p &nbsp;
      %p Tendr&aacute; derecho a finalizar el contrato en todo momento mediante el env&iacute;o de solicitud escrita en tal sentido a [insertar e-mail]. Podr&aacute; cerrar su cuenta de usuario en cualquier momento siguiendo las instrucciones del sitio web de EMPRESA.com.
      %p &nbsp;
      %p EMPRESA.com tendr&aacute; derecho a terminar el contrato en todo momento y con efecto inmediato si Ud. infringe o incumple cualquier condici&oacute;n de los presentes T&eacute;rminos y Condiciones.
      %p &nbsp;
      %p
        %strong NOVENO
        = succeed "." do
          %strong : RESOLUCI&Oacute;N DE CONFLICTOS
        Cualquier duda o dificultad que surja entre las partes con motivo de estos T&eacute;rminos y Condiciones o de sus documentos integrantes y sus documentos complementarios o modificatorios, ya se refiera a su interpretaci&oacute;n, cumplimiento, validez, terminaci&oacute;n, o cualquier otra causa relacionada, se resolver&aacute; mediante arbitraje, conforme al Reglamento del Centro de Arbitrajes de la C&aacute;mara de Comercio de Santiago A.G., cuyas disposiciones las partes declaran conocer y aceptar y se entienden formar parte integrante de esta cl&aacute;usula.
      %p &nbsp;
      %p El &aacute;rbitro tendr&aacute; el car&aacute;cter de &aacute;rbitro mixto esto es, arbitrador en cuanto al procedimiento y de derecho en cuanto al fallo, que no tendr&aacute; inter&eacute;s alguno en el conflicto o disputa, y que ser&aacute; imparcial respecto de cada parte. El &aacute;rbitro ser&aacute; designado por las partes de com&uacute;n acuerdo. A falta de acuerdo, el &aacute;rbitro ser&aacute; designado de conformidad al Reglamento del Centro de Arbitrajes de la C&aacute;mara de Comercio de Santiago A.G., a cuyo efecto las partes confieren mandato especial irrevocable a la C&aacute;mara de Comercio de Santiago A.G., en adelante la &ldquo;C&aacute;mara&rdquo;, para que, a solicitud escrita de cualquiera de las partes, designe al &aacute;rbitro arbitrador en el procedimiento y de derecho en cuanto al fallo de entre los integrantes abogados del cuerpo arbitral del Centro de Arbitrajes de esa C&aacute;mara. Antes de proceder a la designaci&oacute;n y dentro del plazo que al efecto fije la C&aacute;mara, cada parte tendr&aacute; el derecho de vetar sin expresi&oacute;n de causa hasta tres miembros del listado de &aacute;rbitros de la C&aacute;mara. Con todo, el &aacute;rbitro deber&aacute; necesariamente poseer una amplia y reconocida experiencia y trayectoria en la resoluci&oacute;n de conflictos relacionados con materias propias de este Contrato.&nbsp;&nbsp;
      %p &nbsp;
      %p En contra de las resoluciones del &aacute;rbitro no proceder&aacute; recurso alguno, por lo que las partes renuncian expresamente a ellos.
      %p &nbsp;
      %p El &aacute;rbitro queda especialmente facultado para resolver todo asunto relacionado con su competencia y/o jurisdicci&oacute;n.
      %p &nbsp;
      %p Cualquier cuesti&oacute;n o dificultad que surja en la ejecuci&oacute;n de este contrato no podr&aacute; motivar, en caso alguno, la suspensi&oacute;n de la ejecuci&oacute;n de &eacute;ste, sin perjuicio de que las partes procuren un acuerdo o sometan la cuesti&oacute;n a conocimiento del &aacute;rbitro se&ntilde;alado en esta cl&aacute;usula.
      %p &nbsp;
      %p El arbitraje tendr&aacute; lugar en la ciudad de Santiago. El idioma oficial del arbitraje ser&aacute; el espa&ntilde;ol.
      %p &nbsp;
      %p Esta cl&aacute;usula se mantendr&aacute; vigente m&aacute;s all&aacute; del t&eacute;rmino de este contrato, de manera de poder resolver cualquier conflicto que surja como consecuencia de &eacute;ste.
      %p &nbsp;
      %p La interpretaci&oacute;n y aplicaci&oacute;n de estos T&eacute;rminos y Condiciones se regir&aacute; por las Leyes de la Rep&uacute;blica de Chile.
      %p &nbsp;
      %p
        %strong D&Eacute;CIMO
        = succeed "Para" do
          %strong : DOMICILIO.
        todos los efectos derivados de estos T&eacute;rminos y Condiciones, las partes fijan domicilio especial en la ciudad de Santiago, someti&eacute;ndose a la competencia de los tribunales ordinarios de justicia con asiento en la comuna de Santiago, en todas aquellas materias que no sean de competencia arbitral.
      %br
      %br  
      %p
        %strong DECLARACIÓN 
        En este acto y por el presente, el Usuario reconoce haber leído por vía electrónica, y comprendido, el contenido íntegro del Terminos y Coniciones de Uso de EMPRESA.com, y que al presionar el botón de "Acepto" incluido abajo, acepta expresa, inequívoca e irrevocablemente los Terminos y Coniciones de Uso de EMPRESA.com. El documento electrónico en que se formalice el presente contrato será archivado en la base de datos de EMPRESA.com, y será accesible al Usuario en su Perfil de Usuario. Se deja constancia que verificada la aceptación del presente Contrato en los términos antes referidos, EMPRESA.com enviará una confirmación del perfeccionamiento del Terminos y Coniciones de Uso al Usuario por correo electrónico, conteniendo una copia íntegra, clara y legible del contrato. 
      %br  
      %p
        - if @person.terms.present?
          = "Este mandato ha sido firmado electrónicamente por #{@person.fullname} , cédula de identidad #{@person.rut}, el día #{ @person.dia(@person.fechaterms.wday)} #{@person.fechaterms.day} de #{@person.mes(@person.fechaterms.month)} de #{@person.fechaterms.year}."
        -else
          = "Este mandato ha sido firmado electrónicamente por #{@person.fullname} , cédula de identidad #{@person.rut}, el día #{ @person.dia(Time.now.wday)} #{Time.now.day} de #{@person.mes(Time.now.month)} de #{Time.now.year}."
      %br
      %br  
- if !@person.terms.present?
  .container-fluid
    .container-fluid
      .row
        .col-md-12
          = simple_form_for(@person, html: { class: 'form-horizontal' }) do |f|
            = f.error_notification
            .form-inputs
              .form-group
                = f.input :terms, :as => :hidden, :input_html => { :value => "OK" } 
                = f.input :fechaterms, :as => :hidden, :input_html => { :value => Time.now }   
              .form-group
                .col-sm-offset-2.col-sm-10
                  .pull-right
                    %button.btn.btn-success{:type => "submit"} Acepto Términos y Conciciones
- else
  .container-fluid
    .container-fluid
      .row
        = link_to 'Ver Condiciones', "/people/termstopdf/#{@person.id}", class: 'btn btn-success'
        %br
        %br

