.container-fluid
  .container-fluid
    .row
      %p
      %strong TERMINOS Y CONDICIONES DE USO
      %p &nbsp;
      %p Versi&oacute;n 21/09/2015
      %p &nbsp;
      %p
        %strong PRIMERO
        %strong : ANTECEDENTES.
      %p
        %strong &nbsp;
      %ol
      %p 1.- El Colegio de Enfermeras de Chile A.G., es una asociación de enfermeras (os) constituida bajo las normas del D.L. 2757 del Ministerio del Trabajo y Previsión Social del año 1979, publicado en Diario Oficial de 04 de Julio de 1979, cuyo objetivo estatutario es servir a las enfermeras asociadas en lo relativo a su perfeccionamiento, racionalización de la profesión y su protección económica y social. Su Rol Único Tributario es el N°70.029.600-8 y su domicilio calle Miraflores N°563, comuna y ciudad de Santiago.

      %p 2.- En cumplimiento de los objetivos legales y estatutarios, el Colegio de Enfermeras de Chile A.G., en adelante “el Colegio” ha resuelto establecer una plataforma WEB denominada "Sistema de Administracion Colegio de Enfermeras" destinada principal y exclusiva al uso de sus asociadas con el fin de determinar quienes forman parte de la institución, y quienes cumplen con los requisitos del Estatuto y Reglamento General de Elecciones, siendo parte del padrón electoral, participar válidamente en los actos eleccionarios del Colegio. 

      %p 3.- Asimismo, para contribuir a asegurar que la profesión de enfermera (o) sea ejercida por quienes están legalmente investidas del título habilitante, el sitio Web pone a disposición de terceros no colegiados y público en general los datos de sus asociadas (os) almacenados en él.

      %p &nbsp;
      %p
        %strong SEGUNDO
        %strong : Condiciones de Uso.
      %p
        %strong &nbsp;
      %ol


      %p 1.- En atención a los objetivos tenidos a la vista para la configuración de la plataforma, el uso de la información en ella contenida se limita, respecto de terceros, a obtener la información relativa a la calidad de enfermera (o) de las personas cuyos datos se encuentran almacenados. 
      
      %p 2.- Como consecuencia necesaria de lo señalado en el número anterior no podrán ser utilizados por terceras personas, naturales o jurídicas, para el ofrecimiento de bienes y servicios, de cualquiera naturaleza, a las personas cuyos datos personales se encuentran en la base de datos. Lo anterior, sin perjuicio de la suscripción de los oferentes de bienes y servicios de un eventual convenio con el Colegio.  

      %p &nbsp;
      %p
        %strong TERCETO
        %strong : Responsabilidad.
      %p
        %strong &nbsp;
      %ol

      %p 1.- El Colegio no contrae, frente a terceros, otra obligación por la utilización de los datos almacenados en la plataforma, sino la de velar porque la persona incorporada a ella tenga efectivamente la calidad de enfermera.

      %p 2.- En relación a sus asociadas, las obligaciones del Colegio se regirán por su Estatuto. 

      %p 3.- El uso indebido delos datos contenidos en la plataforma, hará responsable al infractor de conformidad con las prescripciones de la Ley 19.628 y el Derecho Común. Especialmente queda prohibido la distribución, publicación o explotación comercial del Sitio Web, descarga de su información o cualquier actividad o procedimiento que transgreda las condiciones de uso de la información por parte de terceros. 

      %p &nbsp;
      %p
        %strong CUARTO
        %strong : Derecho de Propiedad.
      %p
        %strong &nbsp;
      %ol   

      %p El Colegio, es dueño único y exclusivo de todos los derechos del sitio web relativos a sus contenidos, imágenes y/o audios, fotografías, ilustraciones, diseño del sitio y, en general a todo derecho de propiedad intelectual o patrimonial que de aquel derivaren, sin limitación alguna. 


      %br
      %br  
      %p
        %strong DECLARACIÓN 
        En este acto y por el presente, el Usuario reconoce haber leído por vía electrónica, y comprendido, el contenido íntegro del Terminos y Coniciones de Uso, y que al presionar el botón de "Acepto" incluido abajo, acepta expresa, inequívoca e irrevocablemente los Terminos y Coniciones de Uso. El documento electrónico en que se formalice el presente contrato será archivado en la base de datos del Colegio de Enfermeras, y será accesible al Usuario en su Perfil de Usuario. Se deja constancia que verificada la aceptación del presente Contrato en los términos antes referidos, El Colegio de Enfermeras de Chile, enviará una confirmación del perfeccionamiento del Terminos y Coniciones de Uso al Usuario por correo electrónico, conteniendo una copia íntegra, clara y legible del contrato. 
      %br  
      %p
        - if @person.terms.present?
          = "Este mandato ha sido firmado electrónicamente por #{@person.fullname} , cédula de identidad #{@person.rut}, el día #{ @person.dia(@person.fechaterms.wday)} #{@person.fechaterms.day} de #{@person.mes(@person.fechaterms.month)} de #{@person.fechaterms.year}."
        -else
          = "Este mandato ha sido firmado electrónicamente por #{@person.fullname} , cédula de identidad #{@person.rut}, el día #{ @person.dia(Time.now.wday)} #{Time.now.day} de #{@person.mes(Time.now.month)} de #{Time.now.year}."
      %br
      %br  


