.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h1.panel-title Deuda Directa
    .panel-body

      %table.table.table-striped

        %thead
          %tr
            %th Tipo
            %th Institucion
            %th Cupo aprobado
            %th Deuda vigente
            %th Pago mensual
            %th Vencimineto
            %th
        %tbody
          - @deuda_directa.each do |deuda_directum|
            %tr
              %td= deuda_directum.tipo
              %td= deuda_directum.institucion
              %td= deuda_directum.cupo_aprobado
              %td= deuda_directum.deuda_vigente
              %td= deuda_directum.pago_mensual
              %td= deuda_directum.vencimineto
              %td= link_to 'Eliminar', deuda_directum, :method => :delete, :data => { :confirm => 'Estas seguro?' }

      %br
      = link_to '<< Volver', "/dashboard/index", class: 'btn btn-success' 
      = link_to 'Nueva Deuda Directa', "/deuda_directa/new", data: { modal: true },  class: 'btn btn-success'
      %br
      %br
