%p#notice= notice

%p
  %b Tipo:
  = @deuda_directum.tipo
%p
  %b Institucion:
  = @deuda_directum.institucion
%p
  %b Cupo aprobado:
  = @deuda_directum.cupo_aprobado
%p
  %b Deuda vigente:
  = @deuda_directum.deuda_vigente
%p
  %b Pago mensual:
  = @deuda_directum.pago_mensual
%p
  %b Vencimineto:
  = @deuda_directum.vencimineto
%p
  %b Person:
  = @deuda_directum.person

= link_to 'Edit', edit_deuda_directum_path(@deuda_directum)
\|
= link_to 'Back', deuda_directa_path
