.container-fluid
  %h2 Datos del Cónyugue
  .container-fluid
    .row
      .col-md-12
        = simple_form_for(@spouse, html: { class: 'form-horizontal' }) do |f|
          .form-inputs
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} RUT
            .col-sm-4
              = f.input :rut, placeholder: "99999999-9", label: false  
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Nombres
            .col-sm-4
              = f.input :first_name, label: false
            %label.col-sm-2.control-label{:for => "textinput"} Apellidos
            .col-sm-4
              = f.input :last_name, label: false
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Nacionalidad
            .col-sm-4
              = f.input :nationality, label: false, collection: Spouse.country_options_for_select
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Profesión
            .col-sm-4
              = f.input :profession, label: false
          .form-group
            .col-sm-offset-2.col-sm-10
              .pull-right
                %button.btn.btn-success{:type => "submit"} Guardar