%h1 Listing spouses

%table
  %thead
    %tr
      %th Rut
      %th First name
      %th Last name
      %th Gender
      %th Nationality
      %th Economic activity
      %th Education
      %th Origin country
      %th Resident country
      %th Profession
      %th Dependents
      %th University
      %th Number of children
      %th Date birth
      %th Person
      %th
      %th
      %th

  %tbody
    - @spouses.each do |spouse|
      %tr
        %td= spouse.rut
        %td= spouse.first_name
        %td= spouse.last_name
        %td= spouse.gender
        %td= spouse.nationality
        %td= spouse.economic_activity
        %td= spouse.education
        %td= spouse.origin_country
        %td= spouse.resident_country
        %td= spouse.profession
        %td= spouse.dependents
        %td= spouse.university
        %td= spouse.number_of_children
        %td= spouse.date_birth
        %td= spouse.person
        %td= link_to 'Show', spouse
        %td= link_to 'Edit', edit_spouse_path(spouse)
        %td= link_to 'Destroy', spouse, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Spouse', new_spouse_path
