%br
%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Noticias
      .panel-body
        .container-fluid
          %h1 Publicaciones 
          - if current_user.present?
            %br
            = link_to 'Crear Publicación', new_publication_path, class: 'btn btn-info' 
            %br
            %br
          - else
            = link_to 'Volver', '/'  
          - @publications.each do |publication|
            %hr
            %br
            .row
              .col-md-12
                .col-md-3
                  = image_tag publication.imagen
                .col-md-6
                  %h3= publication.titulo
                  %h5= publication.resumen

                .col-md-3
                  .row
                    %p= publication.tipo
                  .row
                    = link_to 'Ver', publication, class: 'btn btn-warning'
                    - if current_user.present?
                      = link_to 'Editar', edit_publication_path(publication), class: 'btn btn-info'
                      = link_to 'Eliminar', publication, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-info'
                      
            %br
            %br



