.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %br
            %br
            %br
            .col-xs-2
            .col-xs-8.center-text
              = image_tag @publication.imagen
        .row     
          .col-xs-12  
            %br
            %br
            %br    
        
            %h1.center= @publication.titulo
            %h2.center= @publication.texto
            %h4.center= @publication.resumen
            / = link_to 'Ver Documento', @publication.documeto_url
            %br
            %br
            %br
            %hr            

            = raw(@publication.web)


            = link_to '<< Atras', publications_path
