-if current_user.present?
  %br
  %br
  %br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %br
            %br
            %br
            .col-xs-2
            .col-xs-8.center-text
              = image_tag @publication.imagen
        .row     
          .col-xs-12  
            %br
            %br
            %br    
        
            %h1.center= @publication.titulo
            %h2.center= @publication.texto
            %h4.center= @publication.resumen
            - if @publication.documeto.present?
              = link_to 'Ver Documento Adjunto', @publication.documeto_url, class: 'btn btn-warning'
            = link_to '<< Continuar', publications_path, class: 'btn btn-warning'
            %br
            %br
            %br
            %hr            
        .row     
          .col-xs-12 
            = raw(@publication.web)

        %br
        %hr 

