%h1 Listing independents

%table
  %thead
    %tr
      %th Tipo rentista
      %th Tipo actividad
      %th Giro actividad
      %th Fecha inicio rubro
      %th Fecha inicio actividad
      %th Nombre empleador anterior
      %th Cargo
      %th Antiguedad
      %th Person
      %th
      %th
      %th

  %tbody
    - @independents.each do |independent|
      %tr
        %td= independent.tipo_rentista
        %td= independent.tipo_actividad
        %td= independent.giro_actividad
        %td= independent.fecha_inicio_rubro
        %td= independent.fecha_inicio_actividad
        %td= independent.nombre_empleador_anterior
        %td= independent.cargo
        %td= independent.antiguedad
        %td= independent.person
        %td= link_to 'Show', independent
        %td= link_to 'Edit', edit_independent_path(independent)
        %td= link_to 'Destroy', independent, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Independent', new_independent_path
