%p#notice= notice

%p
  %b Tipo rentista:
  = @independent.tipo_rentista
%p
  %b Tipo actividad:
  = @independent.tipo_actividad
%p
  %b Giro actividad:
  = @independent.giro_actividad
%p
  %b Fecha inicio rubro:
  = @independent.fecha_inicio_rubro
%p
  %b Fecha inicio actividad:
  = @independent.fecha_inicio_actividad
%p
  %b Nombre empleador anterior:
  = @independent.nombre_empleador_anterior
%p
  %b Cargo:
  = @independent.cargo
%p
  %b Antiguedad:
  = @independent.antiguedad
%p
  %b Person:
  = @independent.person

= link_to 'Edit', edit_independent_path(@independent)
\|
= link_to 'Back', independents_path
