.container-fluid
  %h2 Vehiculo
  .container-fluid
    .row
      .col-md-12
        %form.form-horizontal{:role => "form"}
        = simple_form_for(@vehiculo, html: { class: 'form-horizontal' }) do |f|
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Tipo
              .col-sm-4
                = f.input :tipo, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Marca
              .col-sm-4
                = f.input :marca, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Modelo
              .col-sm-4
                = f.input :modelo, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Año
              .col-sm-4
                = f.input :agno, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Patente
              .col-sm-4
                = f.input :patente, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Valor comercial
              .col-sm-4
                = f.input :valor_comercia, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Prenda a favor
              .col-sm-4
                = f.input :prenda_afavor, label: false
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar


/ = simple_form_for(@vehiculo) do |f|
/   = f.error_notification

/   .form-inputs
/     = f.input :tipo
/     = f.input :marca
/     = f.input :modelo
/     = f.input :agno
/     = f.input :patente
/     = f.input :valor_comercia
/     = f.input :prenda_afavor
/     = f.association :person

/   .form-actions
/     = f.button :submit
