%h3= "PAGO REGISTRADO POR EL USUARIO"
%br
%br
%p  Comunicamos a usted ,  el registro de pagos realizados por el usuario  
%h4= @person.fullname
%p= @person.nro_registro
%p= @person.email
%p= @person.rut
%p= @person.nro_registro
%p= @person.workplace.nombre
%br
%br
%p= "#{@head_daily.tipo}: #{@head_daily.numero}"
%br
%br