%h3= "Señor(a): #{@person.workplace.office.nombre}"
%br

%h3 Registro de Colegiada
%br
%p  Comunicamos a usted , la siguiente inscripción en el Sistema de Administración de Colegiadas.  
%h4= @person.fullname
%p= @person.email
%p= @person.workplace.nombre
%h4= link_to 'Certificado de Superintendencia de Salud', "#{@person.url}"
%br
%br
%br
%p Colegio de Enfermeras de Chile A.G. 
%p Miraflores 563, Santiago
%p Fono contacto téctnico 990880320
%p Mail:  osvaldo.omiranda@gmail.com
%br
%br
%br