%h3= "Señor(a): #{@inscription.workplace.office.nombre}"
%br

%h3 Solicitud de Colegiatura
%br
%p  Comunicamos a usted , la siguiente inscripción en el Sistema de Administración de Colegiadas.  
%h4= @inscription.fullname
%p= @inscription.email
%p= @inscription.workplace.nombre
%h2= "Estado: #{@inscription.estado}"
%h4= link_to 'Certificado de Superintendencia de Salud', "#{@inscription.url}"
%br
%br
%br
%p Colegio de Enfermeras de Chile A.G. 
%p Miraflores 563, Santiago
%p Fono contacto téctnico 990880320
%p Mail:  osvaldo.omiranda@gmail.com
%br
%br
%br