%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Colegiadas
      .panel-body
        
        = link_to 'Exportar', toxls_admincolegiada_index_path(format: :xls),  class: 'btn btn-info'
        %br
        %br
        %br
        %table.table.table-striped
          %thead
            %tr
              %th Nro.Registro
              %th Nombre
              %th Rut
              %th Email
              %th Sexo
              %th Fecha Inscripción
              %th Dirección
              %th Ciudad
              %th Universidad
              %th Fecha Titulo
          %tbody
            - Person.all.each do |person|
              %tr
                %td= person.id
                %td= person.fullname  
                %td= person.rut
                %td= person.email
                %td= person.sexo
                %td= person.created_at
                %td= person.direccion
                %td= person.ciudad
                %td= person.universidad
                %td= person.fecha_titulo
