
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Concejo Nacional
      .panel-body
        .container-fluid
          %h1 Concejo Nacional 
          - if current_user.present?

            .row
              %hr
              .col-md-2
                %a.thumbnail{:href => "", data: { modal: true }}
                  - if @national_council.imagen.present?
                    %img.img-circle{:alt => "...", :src =>"#{@national_council.imagen_url}"}
                  - else  
                    %img.img-circle{:alt => "...", :src => "http://placehold.it/150x150"}
              .col-md-8   

                = simple_form_for(@national_council) do |f|
                  = f.error_notification

                  .form-inputs
                    = f.input :nombre

                    = f.input :cargo

                  .fileinput.fileinput-new{"data-provides" => "fileinput"}
                    .fileinput-preview.thumbnail{"data-trigger" => "fileinput", :style => "width: 200px; height: 150px;"}
                    %div
                      %span.btn.btn-default.btn-file
                        %span.fileinput-new Seleccionar imagen Nueva
                        %span.fileinput-exists Cambiar
                        =f.file_field :imagen
                      %a.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Limpiar  
                    %br
                    %br
                    %br  
                    = f.input :web

                  .form-actions
                    = f.button :submit, 'Guardar'

            %br
            %br
            %br
