%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Importante
      .panel-body
        .container-fluid
          %p Importante: Los avisos se publican los días Martes y Viernes, este tiene  un costo de $ 5.000.- c/u, y una duración de 15 días en la web (solo los establecimientos dependientes de Servicios de Salud y Corporaciones municipales están a la fecha exentos de pago) y existe la posibilidad de contratar 10 avisos por $ 40.000.- con una vigencia para publicar de 6 meses, este valor debe ser depositado o transferido a la cuenta Corriente del Banco Chile 182 – 10001 – 04 a nombre de Colegio de Enfermeras de Chile A.G.  Rut.  70.029.600 – 8,  y luego enviar  el comprobante de depósito o transferencia electrónica al mail bolsadetrabajo@colegiodeenfermeras.cl 
          %p Recuerdo que en este proceso tienen que adjuntar además del  aviso a publicar (en minúscula), el documento que confirme el pago, (boleta de depósito, transferencias bancarias u otro).
          %p Para que ustedes puedan justificar sus gastos, el colegio puede proporcionar una factura, para ello tienen que adjuntar los siguientes datos:
          %p Nombre o razón social; Rut, dirección, comuna, giro, fono y nombre de contacto.

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Ofertas de Trabajo
      .panel-body
        .container-fluid
          = link_to '<< Volver', '/', class: 'btn btn-info'
          
          - if current_user.present?
            - if current_user.role?(:national_admin)
              %br
              %br
              = link_to 'Nueva Oferta', new_job_path, class: 'btn btn-warning'
          %br
          %br    

          - @jobs.each do |job|
            %hr
            %hr
            %h1= job.titulo
            = raw(job.descripcion)
            %h4= job.contacto
            %p= "Publicado el: #{job.created_at.strftime('%d/%m/%Y %H:%M')}"
            %p= job.estado
            - if current_user.present?
              - if current_user.role?(:national_admin)
                = link_to 'Editar', edit_job_path(job) , class: 'btn btn-info'
                = link_to 'Eliminar', job, :method => :delete, :data => { :confirm => 'Are you sure?' } , class: 'btn btn-info'
                %br
                %br

