%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Ofertas de Trabajo
      .panel-body
        .container-fluid
          = link_to '<< Volver', '/', class: 'btn btn-info'
          
          - if current_user.present?
            - if current_user.role?(:national_admin)
              %br
              %br
              = link_to 'Nueva Oferta', new_job_path, class: 'btn btn-warning'
          %br
          %br    

          - @jobs.each do |job|
            %hr
            %hr
            %h1= job.titulo
            %h3= raw(job.descripcion)
            %h4= job.contacto
            %p= "Publicado el: #{job.created_at.strftime('%d/%m/%Y %H:%M')}"
            %p= job.estado
            - if current_user.present?
              - if current_user.role?(:national_admin)
                = link_to 'Editar', edit_job_path(job) , class: 'btn btn-info'
                = link_to 'Eliminar', job, :method => :delete, :data => { :confirm => 'Are you sure?' } , class: 'btn btn-info'
                %br
                %br

