%p#notice= notice

%p
  %b Titulo:
  = @job.titulo
%p
  %b Descripcion:
  = @job.descripcion
%p
  %b Contacto:
  = @job.contacto
%p
  %b Estado:
  = @job.estado

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
