.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %h1 Crear Video
            = simple_form_for(@video) do |f|
              = f.error_notification

              .form-inputs
                = f.input :titulo
                = f.input :alojamiento
                = f.input :estado

              .form-actions
                = f.button :submit, "Guardar"
        %br
        %br
        %br        
