%br
%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        - if current_user.present?
          = link_to 'Nuevo Video', new_video_path, class: 'btn btn-warning' 
        %br
        %br  
        - @videos.each do |video|
          .row
            .col-md-12
              %br
              %br
              %br
              .col-md-4
                - if video.alojamiento.present?
                  %iframe{:frameborder => "0", :height => "150", :src => "http://www.youtube.com/embed/#{video.vid}", :width => "250"}
              .col-md-4 
                %br
                %h2= video.titulo
                %h3= video.estado
                %br
                %br
              .col-md-4  
                = link_to 'Ver', video, class: 'btn btn-warning' 
                - if current_user.present?
                  = link_to 'Editar', edit_video_path(video),class: 'btn btn-info' 
                  = link_to 'Eliminar', video, :method => :delete, :data => { :confirm => 'Are you sure?' },class: 'btn btn-info' 
      
