.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Contabilidad
      .panel-body
        %br
        .row
          .col-md-12.text-center

            = link_to 'Centros de Costo', "",  class: 'btn btn-info'
            = link_to 'Cuentas Contables', "",  class: 'btn btn-info'
            = link_to 'Igresos', "",  class: 'btn btn-info'
            = link_to 'Egresos', "",  class: 'btn btn-info'
            = link_to 'Libro Diario', "",  class: 'btn btn-info'
            = link_to 'Mayores', "",  class: 'btn btn-info'
            = link_to 'Balance', "",  class: 'btn btn-info'
            %br
            %br