.container-fluid
  %h2 Ingresos
  .container-fluid
    .row
      .col-md-12
        %form.form-horizontal{:role => "form"}
        = simple_form_for(@ingreso, html: { class: 'form-horizontal' }) do |f|
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Sueldo Fijo Mes
              .col-sm-4
                = f.input :sueldo_fijo_mes, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Sueldo Variable Mes
              .col-sm-4
                = f.input :sueldo_variable_mes, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Arriendo
              .col-sm-4
                = f.input :arriendo, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Ventas Anuales
              .col-sm-4
                = f.input :vtas_anuales, label: false
              %label.col-sm-2.control-label{:for => "textinput"} Horarios Mes
              .col-sm-4
                = f.input :honorarios_mes, label: false   
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Declaración de Renta
              .col-sm-4
                = f.input :declaracion_renta, label: false 
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Cuenta Corriente
              .col-sm-4
                = f.input :cta_cte, label: false 
              %label.col-sm-2.control-label{:for => "textinput"} Banco
              .col-sm-4
                = f.input :banco, label: false  
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar                                                      

/ = simple_form_for(@ingreso) do |f|
/   = f.error_notification

/   .form-inputs
/     = f.input :sueldo_fijo_mes
/     = f.input :sueldo_variable_mes
/     = f.input :arriendo
/     = f.input :vtas_anuales
/     = f.input :declaracion_renta
/     = f.input :honorarios_mes
/     = f.input :cta_cte
/     = f.input :banco
/     = f.association :person

/   .form-actions
/     = f.button :submit
