%h1 Listing bienes_raices

%table
  %thead
    %tr
      %th Tipo
      %th Direccion
      %th Valor comercial
      %th Rol
      %th Hipoteca banco
      %th Person
      %th
      %th
      %th

  %tbody
    - @bienes_raices.each do |bienes_raice|
      %tr
        %td= bienes_raice.tipo
        %td= bienes_raice.direccion
        %td= bienes_raice.valor_comercial
        %td= bienes_raice.rol
        %td= bienes_raice.hipoteca_banco
        %td= bienes_raice.person
        %td= link_to 'Show', bienes_raice
        %td= link_to 'Edit', edit_bienes_raice_path(bienes_raice)
        %td= link_to 'Destroy', bienes_raice, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bienes raice', new_bienes_raice_path
