%p#notice= notice

%p
  %b Tipo:
  = @bienes_raice.tipo
%p
  %b Direccion:
  = @bienes_raice.direccion
%p
  %b Valor comercial:
  = @bienes_raice.valor_comercial
%p
  %b Rol:
  = @bienes_raice.rol
%p
  %b Hipoteca banco:
  = @bienes_raice.hipoteca_banco
%p
  %b Person:
  = @bienes_raice.person

= link_to 'Edit', edit_bienes_raice_path(@bienes_raice)
\|
= link_to 'Back', bienes_raices_path
