= simple_form_for(@jubilado) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ultimo_empleador
    = f.input :institucion_pagadora
    = f.input :afp
    = f.input :cia_seguro
    = f.association :person

  .form-actions
    = f.button :submit
