%h1 Listing jubilados

%table
  %thead
    %tr
      %th Ultimo empleador
      %th Institucion pagadora
      %th Afp
      %th Cia seguro
      %th Person
      %th
      %th
      %th

  %tbody
    - @jubilados.each do |jubilado|
      %tr
        %td= jubilado.ultimo_empleador
        %td= jubilado.institucion_pagadora
        %td= jubilado.afp
        %td= jubilado.cia_seguro
        %td= jubilado.person
        %td= link_to 'Show', jubilado
        %td= link_to 'Edit', edit_jubilado_path(jubilado)
        %td= link_to 'Destroy', jubilado, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Jubilado', new_jubilado_path
