%p#notice= notice

%p
  %b Ultimo empleador:
  = @jubilado.ultimo_empleador
%p
  %b Institucion pagadora:
  = @jubilado.institucion_pagadora
%p
  %b Afp:
  = @jubilado.afp
%p
  %b Cia seguro:
  = @jubilado.cia_seguro
%p
  %b Person:
  = @jubilado.person

= link_to 'Edit', edit_jubilado_path(@jubilado)
\|
= link_to 'Back', jubilados_path
