= simple_form_for(@direccion) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tipo
    = f.input :calle_num_depto
    = f.input :comuna
    = f.input :ciudad
    = f.input :telefono
    = f.input :celular
    = f.input :codigo_postal
    = f.input :tipo_vivienda
    = f.input :dividendo_arriendo
    = f.input :casilla
    = f.input :num_correo
    = f.input :ciudad
    = f.association :person

  .form-actions
    = f.button :submit
