.container-fluid
  %h2 Dirección
  .container-fluid
    .row
      .col-md-12
        = simple_form_for(@direccion, html: { class: 'form-horizontal' }) do |f|
          .form-inputs

          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Tipo
            .col-sm-4
              = f.input :tipo, label: false, collection: Direccion.tipodireccion_options_for_select
            %label.col-sm-2.control-label{:for => "textinput"} Calle num depto
            .col-sm-4
              = f.input :calle_num_depto, label: false
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Comuna
            .col-sm-4
              = f.input :comuna, label: false, collection: Direccion.comuna_options_for_select
            %label.col-sm-2.control-label{:for => "textinput"} Ciudad
            .col-sm-4
              = f.input :ciudad, label: false, collection: Direccion.ciudad_options_for_select
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Telefono
            .col-sm-4
              = f.input :telefono, label: false
            %label.col-sm-2.control-label{:for => "textinput"} Celular
            .col-sm-4
              = f.input :celular, label: false
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Codigo postal
            .col-sm-4
              = f.input :codigo_postal, label: false
          .form-group
            %label.col-sm-2.control-label{:for => "textinput"} Tipo vivienda
            .col-sm-4
              = f.input :tipo_vivienda, label: false, collection: Direccion.tipovivienda_options_for_select
            %label.col-sm-2.control-label{:for => "textinput"} Dividendo arriendo
            .col-sm-4
              = f.input :dividendo_arriendo, label: false
          .form-group
            .col-sm-offset-2.col-sm-10
              .pull-right
                %button.btn.btn-success{:type => "submit"} Guardar
                         



/ = simple_form_for(@direccion) do |f|
/   = f.error_notification

/   .form-inputs
/     = f.input :tipo
/     = f.input :calle_num_depto
/     = f.input :comuna
/     = f.input :ciudad
/     = f.input :telefono
/     = f.input :celular
/     = f.input :codigo_postal
/     = f.input :tipo_vivienda
/     = f.input :dividendo_arriendo
/     = f.input :casilla
/     = f.input :num_correo
/     = f.input :ciudad
/     = f.association :person

/   .form-actions
/     = f.button :submit
