.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h1.panel-title Direcciones
    .panel-body

      %table.table.table-striped
        %thead
          %tr
            %th Tipo
            %th Calle num depto
            %th Comuna
            %th Ciudad
            %th Telefono
            %th Celular
            %th Codigo postal
            %th Tipo vivienda
            %th Dividendo arriendo
            %th Casilla
            %th Num correo
            %th Ciudad
            %th
            %th
            %th

        %tbody
          - @direccions.each do |direccion|
            %tr
              %td= direccion.tipo
              %td= direccion.calle_num_depto
              %td= direccion.comuna
              %td= direccion.ciudad
              %td= direccion.telefono
              %td= direccion.celular
              %td= direccion.codigo_postal
              %td= direccion.tipo_vivienda
              %td= direccion.dividendo_arriendo
              %td= direccion.casilla
              %td= direccion.num_correo
              %td= direccion.ciudad
              %td= link_to 'Modificar', "/direccions/#{direccion.id}/edit", data: { modal: true } 
              %td= link_to 'Eliminar', direccion, :method => :delete, :data => { :confirm => 'Está seguro?' }

      %br
      = link_to '<< Volver', "/dashboard/index", class: 'btn btn-success' 
      = link_to 'Nueva Dirección', "/direccions/new", data: { modal: true }, class: 'btn btn-success'
