= javascript_include_tag "//www.google.com/jsapi", "chartkick" 
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Administración
      .panel-body
        %br
          .row
            .col-md-6.text-center
              = line_chart Income.select("date_trunc( 'month', created_at ) as month, sum(monto) as monto").group('month')
            .col-md-6.text-center
              = line_chart Income.select("date_trunc( 'month', created_at ) as month, sum(monto) as monto").group('month')
        %br
        %br
        .row
          .col-xs-12
 
            .row     
              .col-xs-6
                .panel.panel-default
                  .panel-heading.text-center= Income.where("created_at >= ?", Time.zone.now.beginning_of_month).sum(:monto)
                  .panel-body.text-center
                    Ingresos Mes en Curso
              .col-xs-6
                .panel.panel-default
                  .panel-heading.text-center= Income.where("created_at >= ?", Time.zone.now.beginning_of_month).sum(:monto)
                  .panel-body.text-center
                    Egresos Mes en Curso  

       
        %br
        %hr
        .row
          .col-sm-12.col-xs-12.editar.text-center
            = link_to 'Colegiadas', "/admincolegiada/index",  class: 'btn btn-warning'
            = link_to 'Lugares Tragajo', "/adminworckplace/index",  class: 'btn btn-warning'
            = link_to 'Regionales', "/adminconsignment/index", class: 'btn btn-warning'
            = link_to 'Gastos',"/adminspending/index", class: 'btn btn-warning'
            = link_to 'Administrar Noticias',"/blogs", class: 'btn btn-warning'

        %br
        %br  
  