%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Pagos 

      .panel-body
        .container-fluid
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Fecha
                  %th Nro.Ingreso
                  %th Monto
                  %th Tipo
                  %th Documento
                  %th Banco
                  %th Medio Pago
                  %th Pagador
                  %th Lugar de Trabajo
                  %th Usuario Transaccion
                  %th Confirmar en Cta.Cte.
                  %th Cuotas de este pago

              %tbody
                - @workplace.incomes.each do |income|
                  %tr
                    %td= income.fecha.strftime('%d/%m/%Y %H:%M')
                    %th= income.head_daily
                    %td= income.monto
                    %td= income.tipo
                    %td= link_to "Comprobante", income.document_url, class: 'btn btn-info'
                    %td= income.banco
                    %td= income.mediopago
                    - if income.person.present?
                      %td= income.person.fullname
                    - else
                      %td= income.workplace.nombre  
                    %td= income.workplace.nombre
                    %td= income.user.email
                    %td= link_to "#{income.estado}", "", class: 'btn btn-info'
                    %td= link_to "Ver", feeforincome_incomes_path(id: income.id), data: { modal: true },class: 'btn btn-info'
            %br
