.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Lugares de trabajo
      .panel-body
        .row
          .col-xs-12
            %h1
              Lugares de trabajo
              %span.badge= @workplaces.count
        .row
          .col-md-12
            .form-inline
              = label_tag :filter_regional, 'Regional'
              = select_tag :filter_regional, options_for_select(Office.options_for_select, @regional), prompt: 'Todos', class: "form-control"
        %br
        %br
        = will_paginate @workplaces, previous_label: h("<  "), next_label: h("  >")
        %br      

        %table.table.table-striped
          %thead
            %tr
              %th Nombre
              %th Ciudad
              %th Region
              %th
              %th


          %tbody
            - @workplaces.each do |workplace|
              %tr
                %td= workplace.nombre
                %td= workplace.ciudad
                %td= workplace.region
                %td= link_to 'Regitrar pago', payregister_workplace_path(workplace.id), class: 'btn btn-info'
                %td= link_to 'Editar', edit_workplace_path(workplace),  class: 'btn btn-info', data: { modal: true }
                %td= link_to 'Eliminar', workplace, :method => :delete, :data => { :confirm => 'Are you sure?' },  class: 'btn btn-info'

        %br

        = link_to 'Nuevo Lugar de trabajo', new_workplace_path,  class: 'btn btn-info', data: { modal: true }

        %br
        %br

