.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Registrar Pago de Descuento de Cuotas
      .panel-body
        .container-fluid
          .row
            .col-xs-12
              %h1
                Colegiadas
                %span.badge= @workplace.people.count
          .row
            .col-md-12
              %form.form-horizontal{:role => "form"}
              = simple_form_for(@income, :url => "/workplaces/pay/pay", :method => :post, html: { class: 'form-horizontal' }) do |f|
                = f.error_notification
                .form-inputs
                  = f.input :workplace_id, :as => :hidden, :input_html => { :value => @workplace.id }
                  = f.input :valorcuota, :as => :hidden, :input_html => { :value => @Currentfee }
                  = f.input :office_id, :as => :hidden, :input_html => { :value => @workplace.office.id } 
                  = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } 

                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"} Fecha Pago
                    .col-sm-4  
                      = f.text_field :fecha_pago, label: false , id: 'datepicker'  
                    %label.col-sm-2.control-label{:for => "textinput"} Fecha Contable
                    .col-sm-4
                      = f.text_field :fecha_contable, label: false , id: 'datepicker1'
                  .form-group    
                    %label.col-sm-2.control-label{:for => "textinput"} Lugar de trabajo
                    .col-sm-10
                      = f.input :workplace, label: false, readonly: true,  :input_html => {:style=> 'width: 230px', :value => @workplace.nombre}  
                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"} Monto
                    .col-sm-4
                      = f.input :monto, label: false, readonly: true, :input_html => {:style=> 'width: 230px', :value => @workplace.people.count * @Currentfee }   

                    %label.col-sm-2.control-label{:for => "textinput"} Mes Cuota 
                    .col-sm-4
                      = f.input :mes_cuota, label: false, collection:  Income.mescuota_options_for_select
                  .form-group
                    %label.col-sm-2.control-label{:for => "textinput"} banco
                    .col-sm-4  
                      = f.input :banco, label: false, collection:  Income.banco_options_for_select    
                    %label.col-sm-2.control-label{:for => "textinput"} mediopago
                    .col-sm-4
                      = f.input :mediopago, label: false, collection:  Income.mediopago_options_for_select 
                         
                  .form-group 
                    %label.col-sm-2.control-label{:for => "textinput"}  
                    .col-sm-8
                      .fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
                        .form-control{"data-trigger" => "fileinput"}
                          %i.glyphicon.glyphicon-file.fileinput-exists
                          %span.fileinput-filename
                        %span.input-group-addon.btn.btn-default.btn-file
                          %span.fileinput-new Comprobante de Deposito
                          %span.fileinput-exists Cambiar
                          =f.file_field :document
                        %a.input-group-addon.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Limpiar        

             
                  .form-group 
                    %label.col-sm-2.control-label{:for => "textinput"}    
                    .col-sm-12{id: "person_ids"}
                      %hr
                      %h3 Registrar cuotas      
                      %table.table.table-striped
                        %thead
                          %tr
                            %th= check_box_tag "", 1, {:checked => "checked"}, {:onchange => "toggleAllCheckbox('person_ids',this, #{@workplace.people.count * @Currentfee })"}  
                            %th Nro.Registro
                            %th Nombre
                            %th Rut
                            %th Email
                            %th Cuota
                        %tbody
                          - @workplace.people.order('apellido_paterno, apellido_materno, nombres  DESC').each do |person|
                            %tr
                              %td= check_box_tag "person_ids[]", person.id , {:checked => "checked"}, {:onchange => "toggleCheckbox(this, #{@Currentfee})"} 
                              %td= person.nro_registro 
                              %td= person.fullname  
                              %td= person.rut
                              %td= person.email
                              %td= "$#{@Currentfee}"
                              %td= link_to 'Enviar a pasivo', topasive_workplace_path(id: person.workplace.id, person_id: person.id, valorcuota: @Currentfee), class: 'btn btn-warning'
                              %td= link_to 'Fallecida', todeceased_workplace_path(id: person.workplace.id, person_id: person.id, valorcuota: @Currentfee), class: 'btn btn-warning'
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      .pull-right
                        %button.btn.btn-success{:type => "submit"} Guardar