= javascript_include_tag "//www.google.com/jsapi", "chartkick" 

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Resumen Lugar de Trabajo (Esta pantalla solo los administradores)
      .panel-body

        %h3
          = @workplace.nombre 
          %span.badge= "#{@workplace.people.count} Colegiadas"
        .row
          .col-md-12.text-center
            %hr
            %h3 Total Cuotas/Mes 2016
            = column_chart @wp_monto_mes
            %h4 Mes - Año
            %hr
        %h4= "Total cuotas 2016: $#{@workplace.fees.sum(:monto)}"
        %br
        %table.table.table-striped
          %thead
            %tr
              %th N Registro
              %th Email
              %th Rut
              %th Nombre
              %th Fecha Creación
              %th Cuotas 2016
              %th
          %tbody
            - @workplace.people.each do |person|
              %tr
                %td= person.nro_registro
                %td= person.email
                %td= person.rut
                %td= person.fullname
                %td= person.created_at.strftime('%d/%m/%Y %H:%M')
                %td= person.fees.sum(:monto)
                %td= link_to 'Ver', person,class: 'btn btn-info btn-xs'      
        %br