%br
%br
%br
.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Formulario de Inscripción
    .panel-body
      .container-fluid
        .container-fluid
          .row
            .col-md-12
              %form.form-horizontal{:role => "form"}
              = simple_form_for(@inscription, html: { class: 'form-horizontal' }) do |f|
                = f.error_notification
                / - if @inscription.errors.any?
                /   #error_explanation
                /   %h2{:style => "color:brown"}= "#{pluralize(@inscription.errors.count, "error")} has being found:"
                /   %ul
                / - @inscription.errors.full_messages.each do |msg|
                /   %li{:style => "color:brown"}= msg
                .form-inputs
                = f.input :origen, :as => :hidden, :input_html => { :value => current_user.present? ? 'ADMIN' : "USUARIO" } 

                %h3 Información de Registro
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Correo Electrónico
                  .col-sm-4
                    = f.input :email, label: false
                  %label.col-sm-2.control-label{:for => "textinput"} Contraseña
                  .col-sm-4
                    = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @validatable), label: false
                  %label.col-sm-8.control-label{:for => "textinput"} Confirmar Contraseña
                  .col-sm-4 
                    = f.input :password_confirmation, label: false 
                %h3 Información Básica       
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} RUT
                  .col-sm-4
                    = f.input :rut, placeholder: "99999999-9", label: false
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Nombres
                  .col-sm-4
                    = f.input :nombres, label: false
                  %label.col-sm-2.control-label{:for => "textinput"} Apellido Paterno
                  .col-sm-4
                    = f.input :apellido_paterno, label: false
                  %label.col-sm-2.control-label{:for => "textinput"} Apellido Materno
                  .col-sm-4 
                    = f.input :apellido_materno, label: false
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Sexo
                  .col-sm-4
                    = f.input :sexo, label: false, collection: Inscription.gender_options_for_select
                .form-group 
                  %label.col-sm-2.control-label{:for => "textinput"} Nacionalidad
                  .col-sm-4
                    = f.input :nacionalidad, label: false,collection: Inscription.nacionalidad_options_for_select, :input_html => {:onchange => "extranjero(this)"}   
                 
                  #pais_origen{:style => "display:none;"}
                    %label.col-sm-2.control-label{:for => "textinput"} País
                    .col-sm-4
                      = f.input :pais_origen, label: false,collection: Country.for_select


                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Direccion
                  .col-sm-4
                    = f.input :direccion, label: false
                  %label.col-sm-2.control-label{:for => "textinput"} Comuna
                  .col-sm-4
                    = f.input :ciudad, label: false , collection: County.for_select              
                  %label.col-sm-2.control-label{:for => "textinput"} Teléfono
                  .col-sm-4
                    = f.input :telefono, label: false, :numericality => {:only_integer => true}
                  %label.col-sm-2.control-label{:for => "textinput"} Celular
                  .col-sm-4
                    = f.input :celular, label: false  
                %h3 Información Académica                                           
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Universidad
                  .col-sm-4
                    = f.input :universidad, label: false
                  %label.col-sm-2.control-label{:for => "textinput"} Fecha de Titulación
                  .col-sm-4
                    = f.text_field :fecha_titulo, label: false, id: 'datepicker'   
                %h3 Información Laboral      
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Tipo Contrato 
                  .col-sm-4
                    = f.input :tipo_contrato, label: false, collection: Inscription.tipocontrato_options_for_select     
                  %label.col-sm-2.control-label{:for => "textinput"} Lugar de trabajo 
                  .col-sm-4
                    - if current_user.present?
                      = f.input :workplace_id, label: false, collection: Workplace.workplaces_option_for_code 
                    -else
                      = f.input :workplace_id, label: false, collection: Workplace.workplaces_option_for_name   
                %h3 Forma pago cuota social   
                %p= "Actualmente la cuota se paga mensualmente y es hasta Diciembre 2016 de $#{@valorcuota}.-  El período de Enero a Diciembre 2017 será de $ 6.500.-"
                %p Pago directo implica que usted deberá realizar el pago en nuestra cuenta corriente,
                %p luego registrar su pago en su pagina de inicio, o enviar el comprobante vía email
                %p indicando su nombre completo rut y periodo de pago.
                %p contabilidad@colegiodeenfermeras.cl - tesoreria@colegiodeenfermeras.cl 
                %p Si usted tiene un contrato a honorarios, debe elegir la forma de pago DIRECTO.  
                .form-group
                  %label.col-sm-2.control-label{:for => "textinput"} Forma de Pago 
                  .col-sm-4
                    = f.input :forma_pago, label: false, collection: Person.formapago_options_for_select                 
                .form-group
                  .col-sm-offset-2.col-sm-10
                    .pull-right
                      %button.btn.btn-success{:type => "submit"} Guardar

