%br
%br
%br
.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Formulario Solicitud de Inscripción
    .panel-body
      .container-fluid
        .container-fluid
          .row
            .col-md-12


              %p#notice= notice

              %h2 Tu Solicitud de inscripción a quedado en estado
              %h1= @inscription.estado
              %br
              %br
              %p
                %b Rut:
                = @inscription.rut
              %p
                %b Nombres:
                = @inscription.nombres
              %p
                %b Apellido paterno:
                = @inscription.apellido_paterno
              %p
                %b Apellido materno:
                = @inscription.apellido_materno

              - if @inscription.estado== 'SOLICITADA'
                %h3 El proceso de revición de tu solicitud está en manos del colegio
                %h3 tendremos una respuesta en los próximos dias 
              - if @inscription.estado== 'RUT YA EXISTE'
                %h3 Tu rut ya existe en el sistema de colegiadas, comunicate con 
                %h3 soporteti@colegiodeenfermeras.cl para solicitar ayuda.
              - if @inscription.estado== 'RECHAZADA'
                %h3 No hemos podido rescatar tu certificado de la superintendencia de salud 
                %h3 por favor comunicate con nosotros para mayor información

              %br
              %br
              %br

              = link_to 'Continuar', '/', class: "btn btn-warning"
              %br
              %br
              %br
              %br

