%br
%br
%br
.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title Formulario de Inscripción
    .panel-body
      .container-fluid
        .container-fluid
          .row
            .col-md-12


              %p#notice= notice

              %h1 Te damos la Bienvenida
              %h2 Ya puedes logearte en nuestro sistema
              %p
                %b Rut:
                = @inscription.rut
              %p
                %b Nombres:
                = @inscription.nombres
              %p
                %b Apellido paterno:
                = @inscription.apellido_paterno
              %p
                %b Apellido materno:
                = @inscription.apellido_materno
              %p
                %b Sexo:
                = @inscription.sexo
              %p
                %b Nacionalidad:
                = @inscription.nacionalidad
              %p
                %b Fecha inscripcion:
                = @inscription.fecha_inscripcion
              %p
                %b Tipo contrato:
                = @inscription.tipo_contrato


              = link_to 'Continuar', '/', class: "btn btn-warning"
              %br
              %br
              %br
              %br

