%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title 
      .panel-body
        %p#notice= notice

        = image_tag @scientific_society.logo_url, class: "center img-circle img-responsive img-center"
        %h2= @scientific_society.nombre
        %p= @scientific_society.descripcion
        %p
          %b Direccion:
          = @scientific_society.direccion
        %p
          %b Telefono:
          = @scientific_society.telefono
        %p
          %b Contacto:
          = @scientific_society.contacto
        %p
          %b Web url:
          = @scientific_society.web_url


