.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title DATOS BASICOS
    .panel-body
      .row
        = link_to '<< Volver', "/dashboard/index", class: 'btn btn-success' 
      .row.text-center
        = link_to '  Obtener Estado Sictuación PDF  ',  "/summary/pdf_me/#{@person.id}" , class:  'btn btn-success' 
        = link_to '  Obtener Estado Sictuación Excel  ',  "/summary/csv_me/#{@person.id}" , class: 'btn btn-success' 
        = link_to '  Enviar por correo', "", class: 'btn btn-success' 
      %br  
      %h4 Datos Personales
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %tr
          %th Rut
          %th Nombres
          %th Apellidos
          %th Genero
          %th Nacionalidad
          %th Actividad
          %th Educación
          %th Universidad
          %th Pais Origen
          %th Pais Residencia
        %tr
          %td= @person.rut
          %td= @person.first_name
          %td= @person.last_name
          %td= @person.gender
          %td= @person.nationality
          %td= @person.economic_activity
          %td= @person.education
          %td= @person.university
          %td= @person.origin_country
          %td= @person.resident_country
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Profesión
          %th Personas dependientes
          %th Nº Hijos
          %th Estado Civil
          %th Regimen Matrimonial
          %th Fecha Nacimiento

        %tr
          %td= @person.profession
          %td= @person.dependents
          %td= @person.number_of_children
          %td= @person.marital_status
          %td= @person.matrimonial_regime
          %td= @person.date_birth
        %br
      %h4 Datos Conyugue
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Rut
          %th Nombres
          %th Apellidos
          %th Genero
          %th Nacionalidad
          %th Actividad
          %th Educación
          %th Universidad
          %th Pais Origen
          %th Pais Residencia
        %tr
          %td= @spouse.rut
          %td= @spouse.first_name
          %td= @spouse.last_name
          %td= @spouse.gender
          %td= @spouse.nationality
          %td= @spouse.economic_activity
          %td= @spouse.education
          %td= @spouse.university
          %td= @spouse.origin_country
          %td= @spouse.resident_country

      %br
      %h4 Direcciones
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Calle num depto
          %th Comuna
          %th Ciudad
          %th Telefono
          %th Celular
          %th Codigo postal
          %th Tipo vivienda
          %th Dividendo arriendo
          %th Casilla
          %th Num correo
          %th Ciudad
        - @direccions.each do |direccion|
          %tr
            %td= direccion.tipo
            %td= direccion.calle_num_depto
            %td= direccion.comuna
            %td= direccion.ciudad
            %td= direccion.telefono
            %td= direccion.celular
            %td= direccion.codigo_postal
            %td= direccion.tipo_vivienda
            %td= direccion.dividendo_arriendo
            %td= direccion.casilla
            %td= direccion.num_correo
            %td= direccion.ciudad
      %br
      %h4 Ingresos
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Sueldo fijo mes
          %th Sueldo variable mes
          %th Arriendo
          %th Ventas anuales
          %th Declaración renta
          %th Honorarios mes
          %th Cuenta cte
          %th Banco

        %tr
          %td= @ingreso.sueldo_fijo_mes
          %td= @ingreso.sueldo_variable_mes
          %td= @ingreso.arriendo
          %td= @ingreso.vtas_anuales
          %td= @ingreso.declaracion_renta
          %td= @ingreso.honorarios_mes
          %td= @ingreso.cta_cte
          %td= @ingreso.banco
      %br
      %h4 Sociedades
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Porcentaje
          %th Capital
          %th Nombre
          %th Rut
        - @sociedads.each do |sociedad|
          %tr
            %td= sociedad.tipo
            %td= sociedad.porcentaje
            %td= sociedad.capital
            %td= sociedad.nombre
            %td= sociedad.rut
      %br
      %h4 Bienes Raices
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Direccion
          %th Valor comercial
          %th Rol
          %th Hipoteca banco
        - @bienes_raices.each do |bienes_raice|
          %tr
            %td= bienes_raice.tipo
            %td= bienes_raice.direccion
            %td= bienes_raice.valor_comercial
            %td= bienes_raice.rol
            %td= bienes_raice.hipoteca_banco
      %br
      %h4 Vehiculos
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Marca
          %th Modelo
          %th Año
          %th Patente
          %th Valor comercia
          %th Prenda afavor
        - @vehiculos.each do |vehiculo|
          %tr
            %td= vehiculo.tipo
            %td= vehiculo.marca
            %td= vehiculo.modelo
            %td= vehiculo.agno
            %td= vehiculo.patente
            %td= vehiculo.valor_comercia
            %td= vehiculo.prenda_afavor
      %br
      %h4 Deuda Directa
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Institucion
          %th Cupo aprobado
          %th Deuda vigente
          %th Pago mensual
          %th Vencimineto
        %tr
          %td= @deuda_directum.tipo
          %td= @deuda_directum.institucion
          %td= @deuda_directum.cupo_aprobado
          %td= @deuda_directum.deuda_vigente
          %td= @deuda_directum.pago_mensual
          %td= @deuda_directum.vencimineto
      %br
      %h4 Deuda Indirecta
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Tipo
          %th Institucion
          %th Deuda vigente
          %th Razon social
          %th Rut
        %tr
          %td= @deuda_indirectum.tipo
          %td= @deuda_indirectum.institucion
          %td= @deuda_indirectum.deuda_vigente
          %td= @deuda_indirectum.razon_social
          %td= @deuda_indirectum.rut
      %br
      %h4 Documentos Adjuntos
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Nombre Documento
          %th
        - @attachments.each do |attachment|
          %tr
            %td
              = attachment.name
            %td
              = link_to ' Ver Documento' ,"", class: 'btn btn-success btn-sm icon icon-file'
        %br
      %h4 Documentos Obligatorios
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th Dependiente
          %th Independiente
          %th Acreditar Patrimonio
        %tr
          %td
            %p 6 Ultimas liquidaciones de sueldo
            %p Fotocopia Carnet  (por ambos lados)
            %p Cotizaciones 12 ultimo meses
          %td
            %p Ultimo F22 + boletas
          %td
            %p Propiedades , numero de rol y comuna
            %p Automóviles , copia del padrón
            %p Inversiones, certificado de inversiones
      %br
      %legend
      %br
      %table.table.table-striped.table-bordered.table-condensed.table-hove
        %tr
          %th
            .text-center
              Importante
        %tr
          %td
            .text-center
              %p Declaro bajo juramento que todos los datos contenidos en este estado de situación,
              %p como los antecedentes presentados, son fidedignos y que conozco el artículo 160 de la ley
              %p general de bancos que señala “El que obtuviere créditos de instituciones de Créditos
              %p Públicas o Privadas, suministrando o proporcionando datos falsos o incompletos acerca de
              %p su identidad, actividades o estados de situación o patrimonio, ocasionando perjuicios a la
              %p institución, sufrirá la pena de presidio menor en su grado medio a máximo”.
