%br
%br
%br
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %h1
              Libro Diario
              %span.badge= @head_dailies.count
        .row
          .col-md-12
            .form-inline
              = select_tag :filter_tipo, options_for_select([['Egresos', 'EGRESO'],['Ingresos', 'INGRESO']], @tipo), prompt: 'Todos Ingresos/Egresos', class: "form-control"

              = select_tag :filter_estado, options_for_select([['POR REVISAR', 'PENDIENTE'],['CONFIRMADOS', 'CONFIRMADO']], @estado), prompt: 'Todos los estados', class: "form-control"

              = select_tag :filter_origen, options_for_select(HeadDaily.user_creation, @origen), prompt: 'Todos los origenes', class: "form-control"
        .row
          .col-md-12
            = simple_form_for(head_dailies_path,:method => :get ) do |f|
              .form-group  
                .col-sm-4
                  = f.input :numero, label: false, placeholder: "Numero Comprobante", :input_html => {:style=> 'width: 350px'} 

                .col-sm-4
                  = f.input :page, label: false, placeholder: "Numero Pagina", :input_html => {:style=> 'width: 350px'} 
              .col-sm-4  
                = f.button :submit, "Buscar",  class: "btn btn-primary"
        %br
        %br

        = link_to "Limpiar Busqueda",people_path,  class: 'btn btn-info'
        %br
        %br    
        %hr 
        = link_to 'Crear Egreso', head_dailies_path(head_daily: {numero: HeadDaily.next_egreso, tipo: 'EGRESO', user: current_user}), :method => :post, class: 'btn btn-info' 
        
        = link_to 'Crear Ingreso', head_dailies_path(head_daily: {numero: HeadDaily.next_ingreso, tipo: 'INGRESO', user: current_user}), :method => :post, class: 'btn btn-info' 

        %br
        %br
        %hr
        .digg_pagination
          = will_paginate @head_dailies,  previous_label: h("<--"), next_label: h("-->"),:container => false

        %table.table.table-striped
          %thead
            %tr
              %th Numero
              %th Fecha
              %th Tipo
              %th Detalle
              %th Monto
              %th
              %th
              %th

          %tbody
            - @head_dailies.each do |head_daily|
              - if head_daily.dailies.present?
                %tr
                  %td= head_daily.numero
                  %td= head_daily.dailies.first.fecha
                  %th= head_daily.tipo
                  %th= head_daily.dailies.first.por
                  %td= head_daily.dailies.sum(:haber)
                  - if head_daily.estado=='CONFIRMADO'
                    %td= link_to 'Ver', head_daily
                  - else
                    -if head_daily.user_id==711
                      %td= link_to 'Por Revisar', head_daily_path(id: head_daily.id, page: @page), class: 'btn btn-warning' 
                    - else
                      %td= link_to 'Por Revisar', head_daily_path(id: head_daily.id, page: @page), class: 'btn btn-danger' 

                  %td= link_to 'Documento', head_daily.documento_url
                  %td= link_to 'PDF', showtopdf_head_daily_path(head_daily.id), class: 'btn btn-success', :target => '_blank'

        %br

