.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            = image_tag("logo-top.png")
            %h1
              = "Libro Diario #{@head_daily.tipo} #{@head_daily.numero}"
            - if @head_daily.tipo == "INGRESO"  
              %p= "Recibido de: #{@head_daily.recibidode}"
              %p= "Medio de Pago: #{@head_daily.mediopago}"
              %p= "Banco: #{@head_daily.banco}"
            - else
              %p= "Paguese a: #{@head_daily.paguesea}" 
              %p= "Por: #{@head_daily.por}"
              %p= "Medio de Pago: #{@head_daily.mediopago}"
              %p= "Banco: #{@head_daily.banco}"

        %p#notice= notice
        =link_to 'Editar', edit_head_daily_path(@head_daily.id), data: { modal: true },class: 'btn btn-info' 
        =link_to 'Guardar', head_dailies_path, class: 'btn btn-info' 
        =link_to 'Cancelar/Eliminar', eliminar_head_daily_path(@head_daily.id), class: 'btn btn-warning' 
        %br
        %br
        %hr 
        .row
          %table.table.table-striped
            %thead
              %tr
                %th Fecha
                %th Centro de costo
                %th Cuenta
                %th Debe
                %th Haber
                %th Glosa
            %tbody
              - @head_daily.dailies.each do |daily|
                %tr
                  %td= daily.fecha
                  - if daily.cost_center.present?
                    %td= daily.cost_center.nombre
                  - else
                    %td
                  -if  daily.account.present?   
                    %td= daily.account.nombre
                  - else
                    %td  
                  %td= daily.debe
                  %td= daily.haber
                  %td= daily.por

      - if current_user.role?(:finance) 
        =link_to 'Agregar detalle', new_daily_path(head_daily_numero: @head_daily.numero, tipo: @head_daily.tipo), data: { modal: true }, class: 'btn btn-info' 
        %br
        %br
          


