.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
      .panel-body
        .row
          .col-xs-12
            %h1
              = "Libro Diario #{@head_daily.tipo} #{@head_daily.numero}"
              
        %hr 


        %p#notice= notice

        .row
          %table.table.table-striped
            %thead
              %tr
                %th Fecha
                %th Centro de costo
                %th Cuenta
                %th Debe
                %th Haber
                %th Glosa

            %tbody
              - @head_daily.dailies.each do |daily|
                %tr
                  %td= daily.fecha
                  - if daily.cost_center.present?
                    %td= daily.cost_center.nombre
                  - else
                    %td
                  -if  daily.account.present?   
                    %td= daily.account.nombre
                  - else
                    %td  
                  %td= daily.debe
                  %td= daily.haber
                  %td= daily.por

      - if current_user.role?(:finance) 
        =link_to 'Agregar detalle', new_daily_path(head_daily_numero: @head_daily.numero, tipo: @head_daily.tipo), data: { modal: true }, class: 'btn btn-info' 
        %br
        %br
          


