.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h3.panel-title EMAIL
    .panel-body
      = simple_form_for(@wpemail) do |f|
        = f.error_notification

        .form-inputs
          = f.input :email
          = f.input :workplace_id, :as => :hidden, :input_html => { :value => @workplace_id }

        .form-actions
          = f.button :submit, 'Guardar Correo', class: 'btn btn-info' 
      %br
      %br
