.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h1.panel-title Documentos
    .panel-body

      %table.table.table-striped
        %thead
          %tr
            %th Nombre
            %th Tipo
            %th
            %th
            %th
        %tbody
          - @persondocuments.each do |persondocument|
            %tr
              %td= persondocument.nombre
              %td= persondocument.tipo

              %td= link_to 'Ver', persondocument.documento_url, class: "btn btn-primary" 
              %td= link_to 'Descargar', "/persondocuments/send/#{persondocument.id}", class: "btn btn-primary"  
              %td= link_to 'Eliminar', persondocument, :method => :delete, :data => { :confirm => 'Are you sure?' },class: 'btn btn-warning'  

        %br
      = link_to 'Nuevo Documento', new_persondocument_path, data: { modal: true }, class: 'btn btn-warning'  
      %br
      %br