%br
%br
%br
= javascript_include_tag "//www.google.com/jsapi", "chartkick" 
.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Sistema de Votaciones Colegio Enfermeras
      .panel-body

        %br  
        %h2= @vote.votacion
        %h3= @vote.descripcion
        %h4=  "Inicio: #{@vote.inicio}"
        %h4=  "Esta votación cerrará: #{@vote.termino}"
        %hr
          .col-md-12.text-center
            = pie_chart @votacion_votos 
        %hr

        %table.table.table-striped
          %thead
            %tr
              %td Opción
              %td Total
              %td
          %tbody
            - @votacion_votos.each do |k,v|
              %tr
                %td= k
                %td= v  
        %hr
        %br
        %h2 Elije tu preferencia y emite tu voto

        = simple_form_for(@vow) do |f|
          = f.error_notification

          .form-inputs
            = f.input :vote_id, :as => :hidden, :input_html => { :value => @vote_id }
            = f.input :candidate_id, label: 'Opciones', collection: Candidate.candidatos_options_for_select(@vote_id)

          .form-actions
            = f.button :submit, 'Emtir Voto', class: 'btn btn-warning'
        %br
        %br