
%table
  %thead
    %tr
      %th Rut
      %th Email
      %th Fecha pago
      %th Mes
      %th Monto
      %th Person
      %th
      %th
      %th

  %tbody
    - @fees.each do |fee|
      %tr
        %td= fee.rut
        %td= fee.email
        %td= fee.fecha_pago
        %td= fee.mes
        %td= fee.monto
        %td= fee.person

