.container-fluid
  %h2 Deuda Indirecta
  .container-fluid
    .row
      .col-md-12
        = simple_form_for(@deuda_indirectum, html: { class: 'form-horizontal' }) do |f|
          .form-inputs
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Tipo
              .col-sm-4
                = f.input :tipo, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Institucion
              .col-sm-4
                = f.input :institucion, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Deuda vigente
              .col-sm-4
                = f.input :deuda_vigente, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Razon social
              .col-sm-4
                = f.input :razon_social, label: false
            .form-group
              %label.col-sm-2.control-label{:for => "textinput"} Rut
              .col-sm-4
                = f.input :rut, placeholder: "99.999.999-9",label: false
            .form-group
              .col-sm-offset-2.col-sm-10
                .pull-right
                  %button.btn.btn-success{:type => "submit"} Guardar    

/ = simple_form_for(@deuda_indirectum) do |f|
/   = f.error_notification

/   .form-inputs
/     = f.input :tipo
/     = f.input :institucion
/     = f.input :deuda_vigente
/     = f.input :razon_social
/     = f.input :rut
/     = f.association :person

/   .form-actions
/     = f.button :submit
