.container{:role => "main"}
  .panel.panel-default
    .panel-heading
      %h1.panel-title Bienes Raices
    .panel-body

      %table.table.table-striped
        %thead
          %tr
            %th Tipo
            %th Institucion
            %th Deuda vigente
            %th Razon social
            %th Rut
            %th

        %tbody
          - @deuda_indirecta.each do |deuda_indirectum|
            %tr
              %td= deuda_indirectum.tipo
              %td= deuda_indirectum.institucion
              %td= deuda_indirectum.deuda_vigente
              %td= deuda_indirectum.razon_social
              %td= deuda_indirectum.rut
              %td= link_to 'Eliminar', deuda_indirectum, :method => :delete, :data => { :confirm => 'Estas eeguro?' }

      %br

      = link_to '<< Volver', "/dashboard/index", class: 'btn btn-success' 
      = link_to 'Nueva Deuda Indirecta',"/deuda_indirecta/new" , data: { modal: true },class: 'btn btn-success' 
      %br
      %br
