.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Remesa
      .panel-body
        %h3= "Total pagado: $#{@total}.-"
        %h3= "Remesa 35% : $#{@remesa}.-"
        %h4= "Pagos considerados para esta remesa: #{@incomes.count}"
        %p Se consideran solo los pagos que se encuentren confirmados como efectivamente depositados en Cta.Cte. 
        .row
          .container-fluid
            = link_to "Enviar Remesa","",  class: 'btn btn-info'
        %br
        %br

.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Detalle 

      .panel-body
        .container-fluid
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Fecha
                  %th Monto
                  %th Tipo
                  %th Documento
                  %th Banco
                  %th Medio Pago
                  %th Pagador
                  %th Lugar de Trabajo
                  %th Usuario Transaccion
                  %th Cuotas
              %tbody
                - @incomes.each do |income|
                  %tr
                    %td= income.fecha.strftime('%d/%m/%Y %H:%M')
                    %td= income.monto
                    %td= income.tipo
                    %td= link_to "Comprobante", income.document_url, class: 'btn btn-info'
                    %td= income.banco
                    %td= income.mediopago
                    - if income.person.present?
                      %td= income.person.fullname
                    - else
                      %td= income.workplace.nombre  
                    %td= income.workplace.nombre
                    %td= income.user.email
                    %td= link_to "Ver", "/incomes/feeforincome/#{income.id}", data: { modal: true },class: 'btn btn-info'
                     
            %br
