.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Resumen Nacional
      .panel-body

        .row
          .col-md-12
            .form-inline
              = label_tag :filter_office, 'Regional'
              = select_tag :filter_office, options_for_select(Office.office_option_for_select, @office), prompt: 'Todos', class: "form-control"
          %h5 *El reporte puede tardar unos minutos    
        %br
        %br
        %br
        %h1= @origen
        %p * Los montos mensuales corresponden a lo valores contabilizados de las cuotas recaudadas en las fechas que se indican
        %hr
        - if @offices.present?
          - @offices.each do |office|
            - if office.id < 25
              %h3
                = office.nombre 
                %span.badge= "#{office.people.count} Colegiadas"
              = link_to 'Ver mas . . .', office_path(office.id), class: "btn btn-primary btn-xs"   

              %table.table.table-striped
                %thead
                  %tr
                    %th
                    %th Enero
                    %th Febrero
                    %th Marzo
                    %th Abril
                    %th Mayo
                    %th Junio
                    %th Julio
                    %th Agosto
                    %th Septiembre
                    %th Octubre
                    %th Noviembre
                    %th Diciembre
                %tbody
                  %tr
                    %td Total por MesCuota
                    %td= office.totalfees('%02i' % @selected_enero.month,@selected_enero.year ).round(0)

                    %td= office.totalfees('%02i' % @selected_febrero.month,@selected_febrero.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_marzo.month,@selected_marzo.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_abril.month,@selected_abril.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_mayo.month,@selected_mayo.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_junio.month,@selected_junio.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_julio.month,@selected_julio.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_agosto.month,@selected_agosto.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_septiembre.month,@selected_septiembre.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_octubre.month,@selected_octubre.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_noviembre.month,@selected_noviembre.year ).round(0)
                    %td= office.totalfees('%02i' % @selected_diciembre.month,@selected_diciembre.year ).round(0)





                  %tr
                    %td Remesas
                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_enero.beginning_of_month..@selected_enero.end_of_month).sum(:debe)
                    
                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_febrero.beginning_of_month..@selected_febrero.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_marzo.beginning_of_month..@selected_marzo.end_of_month).sum(:debe)
                    
                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_abril.beginning_of_month..@selected_abril.end_of_month).sum(:debe)
                    
                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_mayo.beginning_of_month..@selected_mayo.end_of_month).sum(:debe)
                    
                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_junio.beginning_of_month..@selected_junio.end_of_month).sum(:debe)              

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_julio.beginning_of_month..@selected_julio.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_agosto.beginning_of_month..@selected_agosto.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_septiembre.beginning_of_month..@selected_septiembre.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_octubre.beginning_of_month..@selected_octubre.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_noviembre.beginning_of_month..@selected_noviembre.end_of_month).sum(:debe)

                    %td= Daily.where(tipo: "EGRESO").where(account_id: office.numero.to_i).where(:fecha => @selected_diciembre.beginning_of_month..@selected_diciembre.end_of_month).sum(:debe)

                  %tr
                    %td Gastos
                    %td= (office.expenses.where(:fecha => @selected_enero.beginning_of_month..@selected_enero.end_of_month).sum(:monto)).round(0) 
                    %td= office.expenses.where(:fecha => @selected_febrero.beginning_of_month..@selected_febrero.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_marzo.beginning_of_month..@selected_marzo.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_abril.beginning_of_month..@selected_abril.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_mayo.beginning_of_month..@selected_mayo.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_junio.beginning_of_month..@selected_junio.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_julio.beginning_of_month..@selected_julio.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_agosto.beginning_of_month..@selected_agosto.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_septiembre.beginning_of_month..@selected_septiembre.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_octubre.beginning_of_month..@selected_octubre.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_noviembre.beginning_of_month..@selected_noviembre.end_of_month).sum(:monto).round(0) 
                    %td= office.expenses.where(:fecha => @selected_diciembre.beginning_of_month..@selected_diciembre.end_of_month).sum(:monto).round(0) 


              %br
              %p Ingresos correpondientes a remesas 35% de las cuotas cobradas
              %br
              %table.table.table-striped
                %thead
                  %tr
                    %td Lugar de Trabajo
                    %td Colegiadas
                    %td= "Cuotas #{@origen}"
                %tbody
                  - office.workplaces.each do |workplace|
                    %tr
                      %td= workplace.nombre
                      %td= workplace.people.count
                      %td= workplace.fees.where( :mescuota => @selected_enero.beginning_of_month..@selected_diciembre.end_of_month).sum(:monto)
              %br  
              %hr        
            %br