.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Remesas
      .panel-body
        %br
        = link_to '<< Administración', "/management/index",  class: 'btn btn-info'
        %br
        %br
        %hr
        .row
          .col-sm-12.col-xs-12.editar.text-center
            = link_to 'Administrar Regionales', "/offices",  class: 'btn btn-info'
            = link_to 'Pagos Registrados', "/incomes",  class: 'btn btn-info'
            = link_to 'Enviar Remesas', "/consignment/index",  class: 'btn btn-info'
            = link_to 'Cuenta Corriente', "/officeaccounts",  class: 'btn btn-info'