<!DOCTYPE html>
<html lang="es">

<head>
  <title>Colegio Enfermeras de Chile</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta charset="utf-8">
</head>
<body>


 <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
<!--           <%= image_tag("logo-nav.png") %> -->
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <% if user_signed_in? %> 
          <% if current_user.role? :member %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to dashboard_index_path do %>
                  <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Colegiada
                <% end %>
              </li>
            </ul> 
            <ul class="nav navbar-nav">
              <li>
                <%= link_to news_index_path do %>
                  <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Atividades
                <% end %>
              </li>
            </ul> 
          <% end %>    
          <% if current_user.role? :regional_admin %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to regional_manager_index_path do %>
                  <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Admin.Regional
                <% end %>
              </li>
            </ul>
          <% end %>  
          <% if current_user.role? :national_admin %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to management_index_path do %>
                  <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Admin.Nacional
                <% end %>
              </li>
            </ul>
          <% end %>
          <% if current_user.role? :finance %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to accountancy_index_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Contabildad
              <% end %>
            </li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "/reports/index" do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Resumen Nacional
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li> <%= link_to " Salir", destroy_user_session_path, method: :delete %> </li> 
          </ul>
       <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


<div id="modal-holder"></div>

<% flash.each do |key, value| %>

<div class="alert alert-<%= key %>  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>


<%= yield %>
<!-- footer-->
  <div class="row">
    <div class="col-md-12 text-center">copyright Colegio de Enfermeras de Chile</div>
  </div>
</div>
</body>
</html>
