<!DOCTYPE html>
<html lang="es">

<head>
  <title>Colegio Enfermeras de Chile</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  <meta charset="utf-8">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

 <% if current_user.present? %>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

     
      <ul class="nav navbar-nav">
        <li>
          <%= link_to dashboard_index_path do %>
            <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Colegiada
          <% end %>
        </li>

        <li>
          <%= link_to news_index_path do %>
            <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Noticias
          <% end %>
        </li>
      

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to reports_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Resumen Nacional
              <% end %>
            </li>
            <li>
              <%= link_to gastos_cc_reports_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Gastos Nacional
              <% end %>
            </li>

            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Votaciones <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to votar_votes_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Votaciones Abiertas
              <% end %>
            </li>
          </ul>
        </li>

        <% if current_user.role?(:regional_admin) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin. Regional <span class="caret"></span></a>
          <ul class="dropdown-menu">
          
            <li>
              <%= link_to people_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Colegiadas
              <% end %>
            </li>

            <li>
              <%= link_to adminworckplace_index_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Lugares de Trabajo
              <% end %>
            </li>

            <li>
              <%= link_to expenses_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Gastos
              <% end %>
            </li>

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to blogs_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Administrar Noticias
              <% end %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if current_user.role?(:national_admin) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin. Nacional <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to people_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Colegiadas
              <% end %>
            </li>

            <li>
              <%= link_to adminworckplace_index_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Lugares de Trabajo
              <% end %>
            </li>

            <li>
              <%= link_to expenses_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Gastos
              <% end %>
            </li>

            <li>
              <%= link_to offices_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Regionales
              <% end %>
            </li>

            <li>
              <%= link_to expenses_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Superintendecia
              <% end %>
            </li>            

            <li role="separator" class="divider"></li>

            <li>
              <%= link_to blogs_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Administrar Noticias
              <% end %>
            </li>

            <li>
              <%= link_to votes_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Administrar Elecciones
              <% end %>
            </li>

          </ul>
        </li>
        <% end %>

        <% if current_user.role?(:finance) %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contabilidad <span class="caret"></span></a>
          <ul class="dropdown-menu">


            <li>
              <%= link_to cost_centers_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Centros de Costo
              <% end %>
            </li>

            <li>
              <%= link_to accounts_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Cuentas 
              <% end %>
            </li>
            

            
            <li>
              <%= link_to head_dailies_path do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Diario
              <% end %>
            </li>
          </ul>
        </li>
        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sesión <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to  destroy_user_session_path, :method => :delete do %>
                <span class="iconos"><i class="fa fa-user fa-fw"></i></span>Salir
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <% end %>
  </div><!-- /.container-fluid -->
</nav>


<div id="modal-holder"></div>

<% flash.each do |key, value| %>

<div class="alert alert-<%= key %>  alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>


<%= yield %>
<!-- footer-->
  <div class="row">
    <div class="col-md-12 text-center">Colegio de Enfermeras de Chile, Soporte técnico: 90880320</div>
  </div>
</div>

</body>

</html>
