.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-heading
        Cuentas contables
      .panel-body
        .row
          .col-xs-12

            = simple_form_for(@account) do |f|
              = f.error_notification

              .form-inputs
                = f.input :codigo
                = f.input :nombre

              .form-actions
                = f.button :submit, "Guardar Cuenta"
            %br
            %br    
