%p#notice= notice

%p
  %b Email:
  = @universitario.email
%p
  %b Universidad:
  = @universitario.universidad
%p
  %b Carrera:
  = @universitario.carrera
%p
  %b Encurso:
  = @universitario.encurso
%p
  %b Renta familiar:
  = @universitario.renta_familiar
%p
  %b Nombre padre:
  = @universitario.nombre_padre
%p
  %b Rut padre:
  = @universitario.rut_padre
%p
  %b Person:
  = @universitario.person

= link_to 'Edit', edit_universitario_path(@universitario)
\|
= link_to 'Back', universitarios_path
